[2016-07-22 07:56] duncanleo opened #1 "Worker.py crashes with traceback"
Hi, when running `worker.py`, I am running into the following issue:

[code]

I'm not sure where to start to resolve this. Thanks!

[2016-07-22 08:27] modrzew commented on #1
@duncanleo what step limit are you using?

I'm going to refactor the code in the nearest future so that it can automatically cover whole grid without relying on step limit.

[2016-07-22 09:01] DeastinY opened #2 "Where are the config files ?"
No submodule, no config.py

[2016-07-22 09:03] modrzew commented on #2
Right now you need to create `config.py` by yourself - an example is in the readme.

I'll think of better guide for newcomers, in the meantime you may check [this wonderful guide](https://www.reddit.com/r/pokemongodev/comments/4tz66s/pokeminer_your_individual_pokemon_locations/d5lovb6) on Reddit.

[2016-07-22 09:24] cryzies opened #3 "[Question] Only for datamining? How about a live map?"
Is this only for datamining? Will there be a live map I can use to locate pokemon? Hoping to code in some flags for some rare pokemons in an attempt to catch them.

[2016-07-22 09:26] modrzew commented on #3
There is a live map, and it even works! Try running `web.py`. Note that autorefresh and other fancy things are not working correctly, so you have to manually F5 it.

[2016-07-22 09:34] #3 closed

[2016-07-22 09:34] cryzies commented on #3
Thanks!

[2016-07-22 09:37] cryzies commented on #3
@modrzew is there a quick way to disable database entries but keep the live map? Running on a small HD vm

[2016-07-22 09:42] modrzew commented on #3
Comment out [line 515 in `worker.py`](https://github.com/modrzew/pokeminer/blob/master/worker.py#L515), or [line 61 in `db.py`](https://github.com/modrzew/pokeminer/blob/master/db.py#L61).

But why would you want to do this? I have over 100k entries in DB and their size is just about 10 MB.

[2016-07-22 09:44] KenUdigIT710 opened #4 "worker has bugs"
GitHub issues are for bug reporting and feature requests.
For general support, join [our discord server](https://discordapp.com/invite/qbpVH6b).
To make bug reports easy to find and organized, we close issues that are deemed
out of scope for GitHub Issues and point people to Discord.

Please provide the following information.
The more information you provide, the more easily we will be able to off

[2016-07-22 09:46] modrzew commented on #4
Please use Python 2.7, and not Python 3. As I'd love to use Python 3, right now I don't have resources to rewrite everything.

[2016-07-22 10:00] KenUdigIT710 commented on #4
thanks for the heads up but i am still having issues  with request
Traceback (most recent call last):
  File "worker.py", line 8, in <module>
    import requests
ImportError: No module named requests

C:\Users\nek95\Desktop\pokeminer-master>python worker.py -st 8
Traceback (most recent call last):
  File "worker.py", line 13, in <module>
    import werkzeug.serving
ImportError: No module named wer

[2016-07-22 10:03] modrzew commented on #4
Please check out [the guide on Reddit](https://www.reddit.com/r/pokemongodev/comments/4tz66s/pokeminer_your_individual_pokemon_locations/d5lovb6).

[2016-07-22 10:25] cryzies commented on #3
@modrzew is it suppose to error this often?
https://imgur.com/a/we1YH

[2016-07-22 10:26] modrzew commented on #3
It is, whenever servers are experiencing issues. Right now I'm unable to login using my normal account on the phone, so it's nothing out of place.

[2016-07-22 10:51] Mila432 opened #5 "main() error"
### Steps to reproduce
Inside:
if -steplimit2 / 2 < x <= steplimit2 / 2 and -steplimit2 / 2 < y <= steplimit2 / 2:
		lat = x * 0.0025 + origin_lat
		lon = y * 0.0025 + origin_lon
if you do not enter this if both values are undefined
possible solution:
else:
		lat=origin_lat
		lon=origin_lon

[2016-07-22 11:04] DeastinY commented on #2
this guide is so great.
why is it not in the readme :D?

[2016-07-22 11:04] #2 closed

[2016-07-22 11:08] modrzew commented on #2
Because I was too lazy and focused on making it work in the first place :smiley: I'll be cleaning the code soon, and I'll think about a guide then.

[2016-07-22 11:08] modrzew commented on #5
Thanks, I'll take care of it.

[2016-07-22 11:08] #4 closed

[2016-07-22 11:23] gardnert opened #6 "expired pokemon not removed from map?"
Clicking on a pokemon shows it as being expired, but doesn't remove it form the map.

Refreshing removes expired pokemon from the map, but the auto-refresh from the web.py doesnt seem to be auto-refreshing at all

[2016-07-22 11:24] modrzew commented on #6
Yeah, good amount of interactivity (like auto refresh) is broken on the frontend right now. I'm intending on fixing it soon.

[2016-07-22 11:35] DeastinY commented on #2
Well, let me handle it then :)
I should have a little downtime this weekend, you can focus on more important heatmaps then ;)

[2016-07-22 13:31] cryzies opened #8 "How does step work?"
DB_ENGINE = 'sqlite:///db.sqlite'
MAP_START = (33.038946, -117.300476)
MAP_END = (32.433643, -116.863770)
GRID = (4, 5)

Delta Latitude = 0.605303
Delta Longitude = 0.436706

==========

Currently I have step set to 8, and from the command line it says it's looping:step x of 64. So does that mean step is a square that the accounts will go through? The accounts won't figure out the steps required t

[2016-07-22 13:34] cryzies commented on #8
Just to add:

I noticed that the loop was going to 64 but the circle of Pokemon found was relatively close to the starting points of the tiles. Also, how come some of the grids don't work? I've left it on for 6 hours now and still some of the grids are empty.

[2016-07-22 13:36] cryzies commented on #8
https://imgur.com/a/UAjIH

[2016-07-22 13:48] cryzies commented on #8
Just confirmed that you don't need to activate accounts to use them in Pokemon Go (weird I know). If you need some @modrzew let me know.

[2016-07-22 14:05] rollin commented on #8
Steps came from the master project. 5 steps is approximately a 1.2km radius. This detemines how far each account will search around its pin.
I guess that for the data collection task the full cycle shouldn't be greater that 15 minutes (pokemon despawn time). I have 9 accounts going for 14 steps. It takes 13 minutes from start to finish. Maybe it would be slower during the server peak time.

As for

[2016-07-22 14:11] cryzies commented on #8
http://imgur.com/Y6Lpdq8

144 accounts!

[2016-07-22 14:18] modrzew commented on #8
As @rollin wrote step is a remnant of PokemonGo-Map, and I'll be removing it in favor of each worker visiting all places in its "square".

[2016-07-22 14:25] xBorsti opened #9 "exception in thread-wokrer-0"
Hi, i get an exception in thread-worker-0:

[code]

did i forget to setup something?

[2016-07-22 14:32] clearminds commented on #9
Yes you did - you forgot to create the tables - check the bottom of the README for instructions

[2016-07-22 14:42] #8 closed

[2016-07-22 14:47] xBorsti commented on #9
yeah i got a problem with running a python REPL, any help maybe?

[2016-07-22 14:50] cryzies commented on #8
@modrzew what do you think is more efficient, increasing the number of accounts or increasing the step size? Efficient as in CPU use, 144 accounts at 16 step is pushing 30% CPU load already, and 16 step takes way longer than 15 minutes to complete a cycle :-1:

[2016-07-22 14:51] xBorsti commented on #9
i got it running now, thanks

[2016-07-22 14:51] #9 closed

[2016-07-22 15:06] modrzew commented on #8
Well, that's the question of whether you want the data to be fresher, or to have lower CPU load - for me it's definitely fresher data, I'm running it on a server I don't use that much so higher load is not a problem for me.

Workaround right now may be waiting until all workers finish one cycle (go through all steps) and load live map via web.py - if you see gaps between rectangles of Pokemon, the

[2016-07-22 15:09] cryzies commented on #8
So more accounts will give fresher data and a bigger step will lower load?

[2016-07-22 15:42] Samuirai opened #10 "newline in labels"
https://github.com/modrzew/pokeminer/blame/master/web.py#L160

[code]

The label is rendered in html, thus just use `<br>` for newlines.

[2016-07-22 15:45] Samuirai opened #11 "OperationalError in worker threads"
Some threads die with the following exception:

[code]

[2016-07-22 16:31] duncanleo commented on #1
@modrzew I am using a step limit of 1, as I'm testing it out first with a single account. Is it possible that it is the cause of the crash?

[2016-07-22 16:33] duncanleo commented on #1
Ah... I upped the step limit to 2 and it does not crash anymore...

[2016-07-22 16:34] rollin opened #12 "After half an hour the DB stops updating."
After running for 30-40 minutes the data stops to be added to the db while the logs of the worker.py show that the scan is still going as usuall.

What might be the cause? I saw the same issue in the original project, maybe it is also reproducing here?

[2016-07-22 16:41] rollin commented on #12
[Here the issue in question](https://github.com/AHAAAAAAA/PokemonGo-Map/issues/625)

Is it the problem?

[2016-07-22 18:14] georgi-huklev commented on #6
There is a typo in web.py:

`@app.route('/config')
def config():
    """ Gets the settings for the Google Maps via REST"""
    center = {
        'lat': DOUBLE_LAT,
        'lng': DOUBLE_LON,
        'zoom': 15,
        'identifier': "fullmap"
    }
    return json.dumps(center)`

Should be original_lat and original_lon instead of DOUBLE_LAT and DOUBLE_LON respectively.

After it was fixed autoref

[2016-07-22 18:41] rollin commented on #8
seems so.

@cryzies may you help me with registering a bunch those PTC accounts?
wubdawubdawub@gmail.com

[2016-07-22 21:25] DavidSelem commented on #12
I was about to write about this issue! Hope this could get fixed :(

[2016-07-22 21:31] rollin commented on #12
I made a bash script and added it to cron to launch every 30 minutes. Two cycles on my setup last around 28 minutes, so it's a decent workaround, but some data could potentially be lost.
[code]

[2016-07-22 22:29] modrzew commented on #12
Thanks for noticing! I actually noticed it myself and implemented a safety mechanism that *should* restart a worker after 10 cycles. Seems like it's not working correctly.

The script for killing and restarting process is a nice workaround. Though I'll find the root of this issue and fix it :smiley:

[2016-07-22 22:31] modrzew commented on #1
I'll try adding constraint for min grid size, and a nice exception.

[2016-07-22 22:32] modrzew commented on #11
How many workers do you have, and how many requests to the web interface were at that moment?

[2016-07-22 22:38] Samuirai commented on #11
I was running like 16-20 threads. On a fairly weak server. I switched over to `mysql` for the database. I figured sqlite is easy but didn't work in my case.

[2016-07-22 22:40] Samuirai commented on #12
I think the issues are happening on the API calls in `process_step`. If you add some debugging output to the `AttributeError` exception, you will see it start firing and not finding any new pokemon. I don't really know the API well enough to understand if that means the tokens are invalid or something else is happening.

[2016-07-23 00:46] modrzew commented on #11
Oh, I assumed you used MySQL. Yeah, SQLite is not the best thing for multithreaded applications.

[2016-07-23 01:12] MonsterMMORPG opened #13 "can it show with a circle what area each agent is scanned on the browser? please ty"
so we can see which area each agent is scanned

I feel like many of the cells are being bypassed and not scanned

so if we can see which area are covered by the agents during the scan would be perfect

ty very much

[2016-07-23 01:31] paperc07 opened #14 "update not working"
I updated all the files and now its not showing pokemon or the workers on the map just a blank gmap

[2016-07-23 09:25] #6 closed

[2016-07-23 10:50] modrzew commented on #13
I'll be refactoring code so that each worker visits every centimeter of its work area, so I think that won't be necessary.

Right now you need to manually adjust by using more workers, and/or increased step limit.

[2016-07-23 10:51] modrzew commented on #14
I need more information, like output of both worker.py and web.py before I can actually investigate.

[2016-07-23 10:53] modrzew commented on #12
Thanks, I'll debug it.

Nonetheless v0.2 landed a few hours ago and workers should restart more often. I'm also working on more safety features when worker doesn't find new spawns.

[2016-07-23 11:07] MonsterMMORPG commented on #13
ty very much

currently definitely missing so many areas

[2016-07-23 12:05] even-allmighty commented on #14
Hi I have the same problem.
As far as I can tell it seems to be related to ajax calls to /data and /config from the webinterface.
I am running Pokeminer behind a reverse proxy like using an alias : mydomain.com/pokeminer .

Instead of doing the Ajax call to mydomain.com/pokemine/data and mydomain.com/pokemine/config it seems to go to the root (e.g mydomain.com/data ) which is not available.
The pr

[2016-07-23 13:30] cryzies commented on #14
http://imgur.com/pW5WvuW

This is the error I got on the latest update

[2016-07-23 13:34] Mandrakia opened #15 "Can you add EncounterId field to your sightings table schema ?"
Right now it's pretty hard to merge data from multiple sources because the unique ID of the encounter isn't stored.
It should be pretty simple to add and would help immensely in making a huge DB of pokemon spawns.

[2016-07-23 13:51] paperc07 commented on #14
![2016-07-23 09_47_33-python worker py -st 8](https://cloud.githubusercontent.com/assets/9095222/17078210/daebd1a6-50ba-11e6-8a6f-c5f1937145dc.png)

I attached the img which would be fine it it worked like that, but when I go to localhost:8000 I still see nothing but the map of my area

[2016-07-23 14:12] paperc07 commented on #14
When I did what evan-allmighty did I was still getting this
http://pastebin.com/RA9gF1QT

I also did see this at the bottom in reference to cryzies reply
trash_list = getattr(config, 'TRASH_IDS')
AttributeError: 'module' object has no attribute 'TRASH_IDS'

so let me go and fix that as well

[2016-07-23 15:11] cryzies commented on #14
After a bunch of workers started restarting I got this error: https://imgur.com/a/Cy33E

[2016-07-23 15:24] paperc07 commented on #14
how the hell did you get so many workers? how do I make a script to get more I had to handmake 7

[2016-07-23 15:48] modrzew commented on #15
Sure, I'll add it. And now I have to deal with database migrations :stuck_out_tongue:

[2016-07-23 16:05] MonsterMMORPG opened #16 "Please also save in the database PokeStop locations and the GYM locations"
Thank you very much awesome project

[2016-07-23 17:23] Mandrakia commented on #15
Sucks :(
I'd love to be able to use the data your users generate in my app
https://www.reddit.com/r/pokemongodev/comments/4u86i5/heatmap_vizualisation_of_pokemon_spawns_paris/

[2016-07-23 19:27] ferazambuja opened #18 "Web.py Map not working"
I just updated to 0.2.
No return errors everything runs.
However, there is no Pokemon or even the marker showing on the 127.0.0.1:8000. The maps shows empty.

[2016-07-23 19:45] Sigi-cz opened #19 "normalized_timestamp = 1468878720"
while looking through results, I noticed a lot of DB entries with incorrect timestamps. 240 from 2500 to be exact. The DB was created today, but all of those 240 normalized_timestamp are equal to 1468878720.

[2016-07-23 20:03] modrzew commented on #19
Normalized timestamps work in that way. I used them previously to find duplicated spawnings and don't insert them twice to database. The field you're probably interested in is `expire_timestamp`.

[2016-07-23 20:06] modrzew commented on #15
But if you have pokemon ID, lat&lon and spawn ID in your database, those should be enough to detect duplicates. At least it works for me.

[2016-07-23 20:13] Sigi-cz commented on #19
the `expire_timestamp` are also incorrect 1468878814.922 and so on.

[2016-07-23 20:43] Sigi-cz commented on #19
I created new DB and during first minute got 6 from 48 of those entries. Using latest master without modifications.

[2016-07-23 20:47] modrzew commented on #19
Could you share your database, or tell me what should I look for?

[2016-07-23 20:52] Sigi-cz commented on #19
https://drive.google.com/open?id=0B-Ooacf9MSABRGVpckJkSHRsWDg
normalized_timestamp = 1468878720
expire_timestamp is also weird for those entries

[2016-07-23 20:58] ferazambuja commented on #18
yep I copied the old db. Should I create a new one?

[2016-07-23 21:00] modrzew commented on #18
If there are no errors then that's weird. Could you double check whether web.py doesn't raise any exceptions? There should be worker markers at least.

[2016-07-23 21:01] modrzew commented on #19
Yeah, I now see it... definitely strange. But that's the data coming from the server - I don't know why would the endpoint return pokemons with negative TimeTillHiddenMs. I'll look into it.

[2016-07-23 21:03] ferazambuja commented on #18
I did not.

[2016-07-23 21:09] ferazambuja commented on #18
Tried with a new db and folder. Same issue.
Double checked and the data on the db is new.

[2016-07-23 21:18] cryzies commented on #14
I use autoit to write my scripts, it's interfacei/pixel based so it's only going to work on my personal setup, sorry mate

[2016-07-23 21:24] modrzew commented on #18
Are there any JS errors in the console, then?

[2016-07-23 21:31] ferazambuja commented on #18
Failed to load resource: the server responded with a status of 500 (INTERNAL SERVER ERROR)
Uncaught TypeError: Cannot read property 'offsetWidth' of null
Failed to load resource: the server responded with a status of 404 (NOT FOUND)
GET http://127.0.0.1:8000/data 500 (INTERNAL SERVER ERROR)
GET http://127.0.0.1:8000/data 500 (INTERNAL SERVER ERROR)
GET http://127.0.0.1:8000/data 500 (INTERNAL SERV

[2016-07-23 21:32] modrzew commented on #18
The ` GET http://127.0.0.1:8000/data 500 (INTERNAL SERVER ERROR)` is more important. Can you paste output of web.py process?

[2016-07-23 21:35] ferazambuja commented on #18
My bad there is a lot of errors coming from the web.py:
[code]

[2016-07-23 21:39] cryzies commented on #18
Did you update to the current version, he fixed the trash_id issue

[2016-07-23 21:41] ferazambuja commented on #18
Yep I'm using 0.2.
Had no issues on 0.1.

[2016-07-23 21:58] modrzew commented on #18
The fix is in master and will be released with v0.3. For a workaround, just defined an empty `TRASH_IDS` list in config:

[code]

[2016-07-23 22:16] paperc07 commented on #18
I tried that and I couldnt get it working

[2016-07-23 22:17] paperc07 commented on #14
no worries thats awesome

[2016-07-23 22:28] cryzies opened #20 "RESTART sometimes causes exception"
https://i.imgur.com/yMZYpmu.jpg

[2016-07-23 22:32] cryzies commented on #8
Yea, how many do you need

[2016-07-23 22:42] suppoo commented on #18
I encountered this problem too, what I did:

Commented out these lines:
[code]

Also it seems map only works for Chrome and Firefox. Tried default browser on samsung S5 neo and Edge, map loads but pokemon icons are missing

[2016-07-23 23:36] nebbyz opened #21 "GPS tracking"
Is there a way to have this track my location on the map when using my mobile browser?

[2016-07-24 00:33] paperc07 commented on #21
I was wondering this? also how can we make it to where it covers the whole city and not just a line across?

[2016-07-24 00:35] paperc07 commented on #8
can you help me with some accounts lol I think I only need about 100 max maybe less im just trying to cover to areas? my skype is paperc07 email paperc07@yahoo.com lmk plz and ty

[2016-07-24 03:22] cryzies commented on #20
Temp fix by wrapping the erroring line with a try/except

[2016-07-24 03:57] cryzies commented on #20
Temp fix lead to new error: https://imgur.com/a/c7tpZ

[2016-07-24 04:16] cryzies opened #22 "Maximum workers ~ 570"
http://imgur.com/YsM79qg

[2016-07-24 05:43] cryzies commented on #22
Increased to around 800 when I set the step to 1, BUT they don't restart after reaching 100%

[2016-07-24 07:43] rollin commented on #8
@cryzies about 50, with e-mails like afhsdfhyjsrgftyhfyn**1**@mailinator.com and so forth to validate them with ease. Thank you!

[2016-07-24 07:56] matiasmoya commented on #16
I'm very interested in this feature as well! Is goin to add more value to the db :)

[2016-07-24 08:59] crckdns commented on #12
Why not simply requesting new tokens after ~25 Minutes? I think this would solve the problem

[2016-07-24 09:43] MonsterMMORPG commented on #22
SQLlite is very in efficient

did you move to another SQL?

[2016-07-24 10:01] cryzies commented on #22
Do you have any recommendations? To be honest, I just want a city wide live map and don't need anything to do with saving pokemon sightings. Is there a way to remove the databasing but keep the live map?

[2016-07-24 11:36] MonsterMMORPG commented on #22
i guess just keeping live map would require some strong code changes

as for SQL, i think even free microsoft SQL server can handle much better than sqllite

[2016-07-24 15:55] memeshack opened #24 "Pokemon don't load on iOS 8.x-9.x"
So the title provides barely any context so I'll try and explain it a little more.

I set up the Pokeminer script thingy (whatever you call it) on a cheap VPS that I bought and it works perfectly on all my of friends computers and Android devices.  Then, if one of my friends tries to load it on their iOS device, the map loads, but no Pokemon do.  I don't know if this is because of the script or be

[2016-07-24 16:03] memeshack commented on #24
Nevermind, I just looked at the pull from padinko and it worked like a charm.

Heres the link for anyone else who has the issue https://github.com/modrzew/pokeminer/pull/23/files

[2016-07-24 16:03] #24 closed

[2016-07-24 19:46] modrzew commented on #22
SQLite is not very good choice for heavily-threaded application. Personally I'm using MySQL, and I'd recommend that or Postgres, as they are widely available.

[2016-07-24 19:50] modrzew commented on #20
Every time I'm looking at your screenshots I'm astonished by the number of your workers :smiley:

I'll look into that.

[2016-07-24 19:51] modrzew commented on #19
Fix just landed in [v0.3](https://github.com/modrzew/pokeminer/releases/tag/v0.3) - Pokemon with negative TimeTillHiddenMs shouldn't be added to database anymore.

[2016-07-24 19:52] modrzew commented on #18
Fix just landed in [v0.3](https://github.com/modrzew/pokeminer/releases/tag/v0.3) - could you update and tell me whether the issue is gone?

[2016-07-24 20:16] ferazambuja commented on #18
Just updated everything new. Still, doesn't work :(

[2016-07-24 20:17] ferazambuja commented on #15
Is there a way to easy implement this? It's really cool to see the data on heat maps.

[2016-07-24 20:19] Mandrakia commented on #15
I just dealt with a Schema migration of my own :(
Now people scanning or importing pokemons data in real time are able to see non expired pokemons in real time on google map :)

So they can launch the scanner at home and move around with their phone hunting !

[2016-07-24 20:31] Sigi-cz commented on #19
https://github.com/AHAAAAAAA/PokemonGo-Map/issues/1879

[2016-07-24 21:01] kazyka opened #25 "worker argument"
Shouldn't the Readme be updated, since the Worker.py do not recognize the argument -st?

[2016-07-24 21:21] padinko opened #26 "/report STAGE2"
/report have a error:
AttributeError: 'module' object has no attribute 'STAGE2'
`File "/home/pokemon/pokeminer/db.py", line 132, in get_stage2_pokemon
Open an interactive python shell in this framefor pokemon_id in config.STAGE2:`

what is STAGE2 in config?

[2016-07-24 21:26] #26 closed

[2016-07-24 21:27] modrzew commented on #25
It should, thanks!

[2016-07-24 21:28] #25 closed

[2016-07-24 21:46] ferazambuja commented on #18
v0.3.1 the map now works.

[2016-07-24 22:05] kazyka opened #27 "web.py only shows pokemon in a line"
As the title state, when I run the web.py and browse to localhost:8000 the pokemons are only shown in a straightline, not in the entire grid.

Did I set this wrong up or is there an error?

[2016-07-24 22:43] Bifros7 commented on #20
I'm facing the same issue.

[2016-07-24 22:58] Bifros7 opened #28 "/report throws exceptions"
![image](https://cloud.githubusercontent.com/assets/13536271/17087116/bb4b37f8-5202-11e6-956e-b4fe99b5f931.png)
I assume this might happen if there are no STAGE2 Pokemon to show, though I'm not sure.

[2016-07-24 23:03] Bifros7 commented on #27
What does your GRID line in config.py say?

[2016-07-24 23:17] Eduardox opened #29 "Cant run worker.py because steps got removed"
steps got removed so now when I try to run
`python worker.py -st 8`
This pops up
`C:\Users\User\Downloads\pokeminer-master>python worker.py -st 8 usage: worker.py [-h] [--no-status-bar] [--log-level {DEBUG,INFO,WARNING,ERROR}] worker.py: error: unrecognized arguments: -st 8`
Now if I remove -st 8 this pops
`Traceback (most recent call last): File "worker.py", line 658, in <module> spawn_workers(wo

[2016-07-25 00:03] afrogunso commented on #27
I have the same issue, my GRID line in config.py is: GRID = (8,8)

Here is a screenshot to illustrate the issue:

![pokeminer_line](https://cloud.githubusercontent.com/assets/20631159/17087491/3913d570-51a7-11e6-81e9-88d52b18db47.PNG)

[2016-07-25 00:26] ferazambuja opened #30 "Lat and Lon Gain"
Could you expand a bit more? I'm never sure how many workers is needed for an area. My educated guess is that the old -st 10 use to be around 2km radius.

[2016-07-25 00:27] matt-shine commented on #28
Just got this, having only had the runner going for ~5 minutes I'm assuming it's the length_hours var equalling zero. Not sure about OP's case.

[2016-07-25 01:05] DavidSelem commented on #29
I wrote python worker.py and it worked, but I don't know how many steps are the bot using

[2016-07-25 02:40] jorgejung opened #31 "TypeError: 'float' object has no attribute '__getitem__'"
How I can fix this? Thank you!

[code]

[2016-07-25 03:03] paperc07 opened #32 "How do I create mass email accounts?"
I tried with google and it shut me out and I guess you can only make 5 accounts or something who knows. Anyway I can make multiple ptc accounts?

[2016-07-25 03:10] Eduardox commented on #29
I cant get v 0.3 to work, but 0.2 does

[2016-07-25 03:35] #32 closed

[2016-07-25 04:43] Eduardox commented on #29
fixed with 0.3.1

[2016-07-25 04:43] #29 closed

[2016-07-25 04:52] Eduardox commented on #20
Some of my workers get stuck at 1-5%, will they eventualy keep moving?

[2016-07-25 05:23] modrzew commented on #27
That's expected shortly after running. Each worker has a good amount of points to scan (status bar should tell you how many), and it takes a couple of seconds for each point (depending on server load). Check out after each worker finishes its cycle, there should be more Pokemon on the map.

[2016-07-25 05:23] modrzew commented on #31
What's your `config.py`, specifically, the `MAP_START` and `MAP_END` variables?

[2016-07-25 05:28] jorgejung commented on #31
Thank you!, I was placing only the lat on the config, fixed now!

[2016-07-25 05:28] #31 closed

[2016-07-25 05:30] modrzew commented on #30
To put it simply, 1 degree of lat/lon will mean different distance depending on where you are in the world. For example, longitude starts at about 110 km per degree near the equator and slowly goes toward 0 as you go north/south - where I live, it's about 20 km per degree IIRC. Modifying gain lets you compensate for that to have your points being spread uniformly.

[2016-07-25 05:45] paperc07 opened #33 "I am getting a login issue is there anything that can be done"
I don't know if there is anything you can do but I am getting a login issue and only some of my workers will work . I originally had like 200 but had to keep coming down because it seemed I could only do 10 at a time and now I can't even get 20 to work unless I log into the ones that arent working individually?

![image](https://cloud.githubusercontent.com/assets/9095222/17091563/819b79ee-5209-11e

[2016-07-25 05:47] paperc07 commented on #14
@cryzies  Hey buddy, so I got 1000+ emails or whatever, now I am having problems with them logging in? Do I have to activate them somehow, it's weird because some will work and most won't. I had to go down to about 20 and I am still running into issues?

[2016-07-25 05:49] paperc07 commented on #22
how do we go about using the above mentioned?

[2016-07-25 05:53] Eduardox commented on #33
Are you sure its a log in issue?
This happens to me too, but closing and reopening seems to work (and after some minutes some workers stop moving)

Also, care to share how to create ptc accounts automatly? I want 200 accounts also :p

[2016-07-25 05:58] paperc07 commented on #33
I made a tutorial somewhat im stuck at the end and yeah im pretty sure its a login issue, because it cuts out but you can manage to see like invalid login or whatever and then if I go test it with pokefinder its fine and then works thats why I said I didn't know if I had to activate them or something, or maybe do a longer ms login time idk.

https://www.reddit.com/r/pokemongodev/comments/4ug8du/ma

[2016-07-25 06:01] paperc07 commented on #33
I also noticed I get this if I CTRL+C

Traceback (most recent call last):
  File "C:\Users\FRU5TRAT3\Desktop\POKE MINERNEW\pokeminer-0.3.1\worker.py", line 658, in <module>
    spawn_workers(workers, status_bar=args.status_bar)
  File "C:\Users\FRU5TRAT3\Desktop\POKE MINERNEW\pokeminer-0.3.1\worker.py", line 630, in spawn_work
ers
    time.sleep(0.5)
KeyboardInterrupt

[2016-07-25 06:15] Eduardox commented on #33
This post hast a screenshot of a lot of workers and seems like the same problem #20
Also, your post got deleted I think. Can you repost or something?

[2016-07-25 06:23] paperc07 commented on #33
yeah I don't think its the same becuase the never even start and I legit see it say something to do with login, I think its invalid login

[2016-07-25 06:49] memeshack opened #35 "Server keeps stopping"
I'll have the server running for 20 minutes then this will happen.
http://prntscr.com/bx4wrd
I have 64 workers if that helps at all.

[2016-07-25 06:59] #18 closed

[2016-07-25 07:11] modrzew commented on #19
That date (July 18 at 21:38 UTC) is consistent with your timestamps and sightings I gathered. Although it doesn't seem to me like those are "some kind of special spawn", I'd rather say it's a bug on Niantic side. Unless someone confirms that such spawn shows in the app and is catchable - then I'll be convinced.

[2016-07-25 07:13] modrzew commented on #27
I'll double check whether algorithm for distributing points on map doesn't have any bugs, and whether worker actually visits all of them. Maybe order of visiting needs change.

[2016-07-25 07:16] modrzew commented on #22
First of all, you need to setup your database :wink: after that [change DB_ENGINE variable to point at your new database](http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls).

[2016-07-25 07:21] modrzew commented on #35
Something probably happened with Pokemon Go servers and reply for an request was malformed. I'll look into that, but I'm not sure whether I'd be able to reproduce it.

[2016-07-25 07:21] Sigi-cz commented on #19
The spawns are there, I forgot to liknk this one: https://github.com/AHAAAAAAA/PokemonGo-Map/issues/509
It seems like PokemonGo-Map switched to something else than pokemon.proto with 2.0 release?

[2016-07-25 07:22] modrzew commented on #19
Alright, I'll look into that. Thanks!

[2016-07-25 08:43] rizjuan1 commented on #33
I have this same issue. It had worked fine earlier in the day with a 8x8 grid. However now when I start it half of my workers stay at 0 to 1%. When I Cntrl+C I get the following. I'm running v0.3:

[2016-07-25 09:48] kazyka commented on #27
@Bifros7 It says (3, 4)

@modrzew I kept it running for 2-3ish hours, but the pokemons stop showing after 1 hour. But the pokemons just dissapered from the map. The workers just get from left to right.

[2016-07-25 13:35] paperc07 commented on #33
ok so I managed to FRAPS it because my stuff goes away idk how @rizjuan1 was able to see his log or mark it. THERE IN ORDER also

![image](https://cloud.githubusercontent.com/assets/9095222/17103146/e8547636-524a-11e6-83c4-b0cacb458cb4.png)

![image](https://cloud.githubusercontent.com/assets/9095222/17103151/f7b1dcea-524a-11e6-87cf-c8e6aa9877ca.png)

![image](https://cloud.githubusercontent.com/a

[2016-07-25 14:21] Eduardox commented on #33
Suddenly all my workers stopped working, and they show [W5: LOG IN FAIL]
So yeah, this is a log in issue

[2016-07-25 14:29] modrzew commented on #33
[Server status](http://www.mmoserverstatus.com/pokemon_go) says that potatoes are boiling - at least those handling PTC logins. Downtime, ho!

[2016-07-25 14:31] paperc07 commented on #33
@modrzew  yeah but my accounts aren't working can you please help me to where I can have 40+ google accounts that will work fine?

[2016-07-25 14:59] amistad18 opened #36 "Issue with to old timestamp (sometimes)"
I noticed today, while displaying /report, that I have some old timestamp data in the database. Report said that I started to mining since 07.18, while more accrete is that I started on evening 07.23. I'm wondering if this is an issue with the server responses? That game server itself returns wrong data and already expired pokemons? (I think I noticed that on AHAAAAAAA/PokemonGo-Map before, but di

[2016-07-25 16:07] ferazambuja opened #37 "5 min spawn chart"
I just notice that at my graph shows as a line. It shows spawn seen: 0.

https://dl.dropboxusercontent.com/u/9492397/pokeminer-report/Pokeminer%20Report.html
https://dl.dropboxusercontent.com/u/9492397/Screen%20Shot.png

[2016-07-25 16:14] ferazambuja opened #38 "Status on worker.py"
Is there any way to have a live log/debug showing on worker.py?
Or at least a bit more of info.

`PokeMiner	running for 0:02:51.943190
3 workers, each visiting ~116.666666667 points per cycle (min: 112, max: 126)
Status: Scanning/Fail to Connect/Offline/Error`

As right now it's hard to see when the servers are down. It's a minor thing...

[2016-07-25 19:40] DavidSelem commented on #38
I think you mean this: python worker.py --no-status-bar

[2016-07-25 20:14] ferazambuja commented on #38
that was easy 👍

[2016-07-25 20:14] #38 closed

[2016-07-25 21:31] Sigi-cz commented on #36
duplicate https://github.com/modrzew/pokeminer/issues/19

[2016-07-25 22:34] fu20161234 opened #39 "When PTC servers are down, fails to restart"
From worker.log:

[2016-07-25 MORNING][  worker-4][    INFO][L 375] Could not login to PTC - sleeping
[2016-07-25 10 seconds later[  worker-4][    INFO][L 282] PTC login for: $USERNAME
[2016-07-25 55 seconds later][  worker-4][    INFO][L 248] Resetting dropped connection: sso.pokemon.com
[2016-07-25 SEVERALHOURSLATER][MainThread][    INFO][L 653] ------------------------------
[2016-07-25 SEVERAL

[2016-07-26 03:04] irrg commented on #28
OP's trace also ends on a division by length_hours, and I had the same issue when I tried this out. So I'd say it's definitely the per_hours calc.

[2016-07-26 05:55] lskupnjak commented on #37
Noticed this as well

[2016-07-26 06:29] Eduardox commented on #33
@modrzew PTC servers are now fine (kinda) and still 1-5 of my workers are always stuck. Any ideas on what can be going wrong?

[2016-07-26 12:46] fu20161234 opened #40 "Workers over 100% and finding no pokemon"
So you can see here many workers are finding no pokemon. The only two that are are 6 and 7.

[2016-07-26 timestamp][  worker-2][    INFO][L 495] Point processed, 0 Pokemons seen!
[2016-07-26 timestamp][  worker-2][    INFO][L 480] Visiting point 523 (LAT, LONG)
[2016-07-26 timestamp][  worker-4][    INFO][L 495] Point processed, 0 Pokemons seen!
[2016-07-26 timestamp][  worker-4][    INFO][L 480]

[2016-07-26 12:59] fu20161234 commented on #40
Hm, comparing worker logs now.

Worker-6 (which appeared to be working):

[2016-07-26 timestamp][  worker-6][    INFO][L 480] Visiting point 624 (LAT, LONG)
[2016-07-26 timestamp][  worker-6][    INFO][L 495] Point processed, 0 Pokemons seen!
[2016-07-26 timestamp][  worker-6][    INFO][L 600] Worker (re)starting up!
[2016-07-26 timestamp][  worker-6][    INFO][L 282] PTC login for: vjb47533
[2016

[2016-07-26 13:22] modrzew commented on #36
Indeed - closing as duplicate.

[2016-07-26 13:22] #36 closed

[2016-07-26 13:24] fu20161234 commented on #40
Hey. I figured this out. Really two issues. I'll submit a PR for fixing the 100% issue.

As for the not finding pokemon- this loop is the issue:

`while self.cycle <= 3:
            self.main(service, api_endpoint, access_token, profile_response)
            self.cycle += 1
            if self.cycle <= 3:
                self.error_code = 'SLEEP'
                time.sleep(random.randint(30, 60))

[2016-07-26 13:27] modrzew commented on #40
I'd say more like "if worker doesn't do anything for X minutes, then poke him as something is definitely wrong". No need to restart it if it's working properly.

[2016-07-26 13:29] fu20161234 commented on #40
Right, but the issue is that the worker _is_ doing stuff still. It's just returning no pokemon. Same as issue #12 . Seems that perhaps the game requires reauthentication after a longer period of time or something?

[2016-07-26 13:32] Sigi-cz commented on #19
https://www.reddit.com/r/pokemongodev/comments/4ui7um/pokemon_go_mapscan_optimized_code/d5qxkny

[2016-07-26 13:32] #19 closed

[2016-07-26 13:45] modrzew commented on #40
By "doing anything" I meant things like visiting points, seeing new Pokemon etc. - it can be monitored using `Slave.cycle` and `Slave.seen` properties. Overseer (`spawn_workers`) shouldn't care that worker does *something* - if it doesn't observe new spawns, it's not doing its job, therefore it might have to be restarted.

[2016-07-26 13:56] fu20161234 commented on #40
Unless I'm still not understanding you, it is doing stuff. It is visiting new points still, it just sees that those points have 0 pokemon at them. I personally like the suggestion in the other issue. Once X amount of time has elapsed, simply request a new token, but don't restart completely, in order to prevent losing the place in the square.

[2016-07-26 13:59] esolitos commented on #16
That's easy to archive, just look up [Ingress portals](https://www.ingress.com/intel), those are the same. :)

[2016-07-26 14:00] fu20161234 commented on #40
Submitted PR #41 to fix the going above 100% issue. That's just a display issue.

[2016-07-26 14:01] fu20161234 commented on #40
So even though it's still logging that it's visiting points and whatnot, you don't think it actually is even trying to get that data?

[2016-07-26 14:08] modrzew commented on #40
I realized that I'm talking about different issue, where worker just stops doing anything after some time passes. It seems like visiting points and seeing 0 Pokemon each time (which you talked about) is a different issue.

Nonetheless, from the overseer's point of view, worker can spend its time on anything: visiting stops on map, DDoSing servers of some other games, solving the world's hunger pro

[2016-07-26 14:11] TheMainAttractionHomie opened #42 "Report - area always = 96 square km"
Wonderful reporting system, thank you! I noticed that on my reports and your own posted on Reddit/imgur that the {{ area }} is always 96 square km.

[2016-07-26 14:13] modrzew commented on #42
Yeah, I hardcoded it because of lack of time (together with city name). Nonetheless, @pdong did PR #34 that solves the issue, I'll test it and hopefully merge when I have spare time.

[2016-07-26 14:19] fu20161234 commented on #40
Hm, now that you mention it, I did submit one other issue yesterday for the same thing. So I've seen both cases.

Everything you said makes sense though, yeah.

And sure, glad to help!

[2016-07-26 15:05] techdough opened #44 "error in log causing map to not be updated"
I see this every so often. I am not 100% sure but usually when I see this error I also see one of the workers at p0, 0%. whenever this error occurs I believe the map does not update with pokemons for that specific map node this worker is assigned to.

also it seems the more workers you have the more often this shows up. when i have 10 i never see it. when i have 20 i see it sometimes, when i have

[2016-07-26 15:34] hallengreenn commented on #22
modrzew, can you help a bit?
Created the following table in my DB;

[code]

My config looks like this:
`DB_ENGINE = 'mysql+mysqldb://root@localhost/pokeminer'`

However there is error outputs all over the place, when running worker.py
`Exception in thread worker-111:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "w

[2016-07-26 15:47] memeshack opened #45 "Workers getting more and more unstable"
I have around 64 workers and the script likes to stop working whenever it wants now.

I just tried to start it and it gave me this error message right away http://prntscr.com/bxrsyz

VPS Specs:
Intel(R) Xeon(R) CPU E5-2670 0 @ 2.60GHz (4 cores)
SSD
6GB RAM

[2016-07-26 16:36] techdough opened #46 "detect broken workers and restart them"
I think a good enhancement would be if program can detect stuck workers it can restart them. Here are 2 examples I see stuck workers:

1) worker stuck at P0,0%
2) worker stuck at PX,Y% where x and y are just some numbers > 0 that never update.

you could implement a check that if than worker hasn't updated in 3 minutes, restart it.

This area has generally become better and better each release.

t

[2016-07-26 18:38] Aiyubi commented on #46
had the same issue. Turned out when I looked at the error messages that it was an issue with database access not being safe for threads

I uploaded a possible fix as pullrequest #47

[2016-07-26 19:34] toddstpad commented on #27
I still have this issue in 3.1 along with #44.  Not really sure why I'm only scanning in a straight line OR some workers error out on #44 and don't scan at all.  I went from 42 workers to 2 x 20 workers that seems to alleviate some of issue #44, but they still only really scan from a LEFT to RIGHT line from a NorthWest point of the worker point and scanns RIGHT of this imaginary line as shown in t

[2016-07-26 20:33] #45 closed

[2016-07-26 20:34] memeshack opened #48 "Google analytics with web.py?"
Is this possible? If so how would I go about doing this

[2016-07-26 21:24] Aiyubi commented on #48
the way I understand google analytics: you add a script at the end of your website that does everything. So adding it should be no problem.

Check the offical google guide:
https://support.google.com/analytics/answer/1008080?hl=en

[2016-07-26 21:25] modrzew commented on #48
And why would you want Google Analytics in web.py?

Besides, if you're hosting pokeminer somewhere, you can add it to the template manually.

[2016-07-26 21:30] modrzew commented on #27
Sorry for lack of update, I have dev branch with grid algorithm slightly revamped to start from worker's position (and also made sure that worker visits all of the points) AAAAAAAAAAND I decided this is the perfect time to refactor `worker.py` so that it uses pgoapi library, on the same branch. ETA? Tomorrow, maybe on Thursday.

[2016-07-26 21:48] 1n9i9c7om commented on #22
@hallengreenn Seems like you've an issue with duplicated primary keys:
`Duplicate entry '0' for key 'PRIMARY`

Do you have AUTO_INCREMENT enabled for your id column?

[2016-07-26 22:45] hallengreenn commented on #22
1n9i9c7om, wow can't believe I missed that!
It is working now, with about 400 workers without any hickups.
Thank you for the assistance!

[2016-07-27 00:41] Eduardox opened #49 "'You have exceeded your daily request quota for this API.'"
After a while of running I get this error of exceding the limits of request, checked in the api interface and indeed it has a 2500 request per day (can get more if I pay, not sure). Any way over this that doesnt involve making a new api key each 3-5 hours?

[2016-07-27 01:07] techdough commented on #46
ty i will try it out. maybe this is a dupe of my other issue i reported #44

[2016-07-27 01:57] elx0r opened #50 "python worker.py not working anymore"
I've checked and rechecked OVER and OVER again and it doesn't work! It worked the first time, but then when I moved onto this version it didn't! Reused the older one and it also didn't work anymore! All I did was changing the cords and nr of workers from 25 to 168!

Here is the beginning of my config:

And here is the output:

[code]

[2016-07-27 04:21] Epion003 commented on #22
@hallengreenn Sorry to bother I just got they program running for first time with only 6 workers. Was wondering if maybe you could tel me 1 how u made so many workers so fast took me some times just to make 6 making the gmail acct and ptc accts. But also I would like to set it up with a better DB like you guys did but not sure how to go about the whole process. Thank you for your time and any help

[2016-07-27 04:21] GaelicGamer commented on #49
Are you using your own java-api key?  I'm using my own key I'm nowhere near that.

[2016-07-27 06:46] 1n9i9c7om commented on #22
@Epion003 There are Account Creators available.
There was one posted on reddit, but it got removed. That's the link to the reddit post: http://webcache.googleusercontent.com/search?q=cache:https://www.reddit.com/r/pokemongodev/comments/4uia6u/ptc_account_creator/&gws_rd=cr&ei=Q1iYV_uVAeOogAaZgYW4BA
It has a crash issue which I fixed by replacing the `break` in line 92 with time.sleep(5).

Check ou

[2016-07-27 06:52] kravock commented on #37
Same here.

[2016-07-27 06:52] kravock commented on #35
I'm using Supervisord to automatically restart the worker if it crashes.

[2016-07-27 08:49] Sigi-cz opened #51 "DB reformat"
what about switching to this DB format? seems much more logical, and should be more efficient, as now a lot of duplicate data are being stored (each sighting with position over and over again)
https://www.reddit.com/r/pokemongodev/comments/4ull2o/working_on_a_database_standard_for_map_objects/

[2016-07-27 10:43] Aiyubi commented on #50
your output is missing a lot of characters

but your problem: you need 1 more worker
13*13 = 169
with only 168 workers 1 slot is empty

[2016-07-27 10:45] Aiyubi commented on #50
oh and in case this was not the error: your lat/long gain would be interesting for solving this

[2016-07-27 11:05] modrzew commented on #51
What? Duplicated data is not stored. There is a [duplicate check in place](https://github.com/modrzew/pokeminer/blob/master/db.py#L57).

I like the idea about using cell ID instead of lat/lon, I'll look into it as I have some time to spare.

[2016-07-27 11:24] elx0r commented on #50
I honestly didn't understand a word of what you said!
This thing worked the first time.Then it didn't
Also the lat/long gain....what are these? They aren't shown anywhere!!!!

[2016-07-27 11:28] Aiyubi commented on #50
* about the characters: look at it. The end of the lines is cut out.
* about the worker: for 13x13 you need 169 workers. You are telling you only have 168. Either change your grid or add 1 more worker
* about lat/long gain. It is in the samle config in the readme file:
https://github.com/modrzew/pokeminer/blob/master/README.md
just before the accounts

[2016-07-27 11:34] Sigi-cz commented on #51
i meant location of sighting being stored over and over as duplicate data.

[2016-07-27 11:40] hallengreenn commented on #22
@Epion003 , I used the program that @1n9i9c7om linked to.
It works well with the time.sleep instead of break. 👍

[2016-07-27 13:36] fmarmorini commented on #22
Thank you @1n9i9c7om

[2016-07-27 13:45] Epion003 commented on #22
Thank you @1n9i9c7om will check it out soon as I get home...

[2016-07-27 13:57] Aiyubi commented on #11
this is the same error "fixed" by #47

[2016-07-27 14:24] paperc07 commented on #22
@1n9i9c7om first off let me say thank you so much for this its amazing, actually to amazing, now that thousands of people are using the scripts and making free ptc accounts, is there anyway to make a google one, because in my experience ptc is down way more then google is, my google pogo accounts are usually always up

[2016-07-27 14:34] 1n9i9c7om commented on #22
@paperc07 I don't know of any that works right now, especially because Google may be asking for phone verification after you created too many accounts - not sure tho.

[2016-07-27 14:42] paperc07 commented on #22
Ok thanks anyways and yeah they do, after so many.

[2016-07-27 18:21] fu20161234 commented on #51
I'm not familiar with cell ID, but I would personally vote to keep including lat/lon, and just adding this if desired. Also on the topic of DB, it might be helpful to put time spotted as well as time expires, since apparently some spawns are longer than 15 minutes.

[2016-07-27 18:22] Mila432 opened #52 "DB not threaded"
Running more then 500 workers and using a changed version of this without problems, now upgraded to the latest commit and have this:

[code]

[2016-07-27 18:23] Mila432 opened #53 "DB error"
Another db error:

[code]

[2016-07-27 18:28] Aiyubi commented on #52
there is already #47 which will fix this one.

[2016-07-27 18:31] modrzew commented on #52
Or you can use something different than SQLite. I think it's not safe for multithreaded access, is it?

I'm using MySQL personally and it's working like a charm.

[2016-07-27 18:35] elx0r opened #54 "Number of steps!?"
I just started running an area using 156 workers and it takes 20-30mins x cycle.
I read that you can change number of steps or smthg like that...How can I do that? Thank you

[2016-07-27 18:41] Aiyubi commented on #54
again:
check the readme again. Lat/Long gain is the distance between points.

[2016-07-27 18:42] Aiyubi commented on #53
duplicate of #44

[2016-07-27 18:57] elx0r commented on #54
I learned what that was mate...but I don't see the connection between steps and distance from one point to another  O.o
The readme doesn't explain that part at all...it just gives you lat gain and long gain with a random nr after without even explaining how "much" 0,0015 is

[2016-07-27 20:03] #1 closed

[2016-07-27 20:04] modrzew commented on #5
This is going to be refactored in #55.

[2016-07-27 20:04] #5 closed

[2016-07-27 20:06] modrzew commented on #10
No need - label is 3 divs, and div is a block element, thus each of them will be in new line.

[2016-07-27 20:06] #10 closed

[2016-07-27 21:25] Eduardox commented on #49
@GaelicGamer Yeah, figured out the problem. I have pokeminer + a bot leveling and stuff running at same time. If I only run pokeminer or only the bot I don't have any problems, but running both brings this error.
So I need one project for miner and another one for the bot to stay below the daily limit (different keys) :)

[2016-07-27 21:48] Epion003 commented on #22
ok made it home and had a chance to Download few files... @hallengreenn @1n9i9c7om I got the acct file and saved it as a .py file. do i run that separately to generate a list of accts first or i use if combined fith the miner file? 2nd I DL MySQL server how do i go about setting it up so I dont mess anything up at the moment. Thank you again for any and all help....

[2016-07-27 21:53] skiniemini opened #56 "SQLite thread error"
Keep getting these errors
[code]

[2016-07-27 22:13] Sigi-cz opened #57 "change to hex grid"
most scanners seem to use it. And some of them are crazy fast ( https://github.com/favll/pogom )

[2016-07-27 22:49] paperc07 commented on #49
@Eduardox  I am using necrobot and it doesn't even make me use a api key that im aware of

[2016-07-27 23:04] paperc07 commented on #22
@modrzew which sql do we want the sql server?

[2016-07-27 23:44] elx0r opened #58 "More than 50% of the workers stay at 0%"
As the title says. I'm using 156 workers (12,13)
and more than half of them stays at 0% and in the map no pokemon shows on those pointers...what do I have to do?

EDIT: looks like when I restart it, in the beginning everything works perfectly...so I guess they stop working after a while

[2016-07-27 23:45] memeshack commented on #35
How do you have your .conf setup for supervisor? cause everything i try doesnt work.

[2016-07-28 00:33] kravock commented on #35
This works for me. You need to change the directory variable to the folder your worker.py is in.

[program:pokeminer]
command=python worker.py
autostart=true
autorestart=true
directory=/var/www/pokemon

[2016-07-28 00:35] techdough commented on #56
dupe #44

[2016-07-28 02:55] nathaned commented on #52
@modrzew can you add that to the guide? you clearly suggest using SQLite in the Readme

[2016-07-28 03:09] fu20161234 commented on #52
Can we also get quick directions on how to switch?

Is all we have to do swap it out and it's instantly thread safe?

[2016-07-28 03:53] nesttle opened #59 "Filter by IV?"
It's possible? Will be implemented?

Ty! :')

[2016-07-28 04:54] pdong commented on #58
If you look at `worker.log` do you see any issues?  Are you using google or PTC auth?  If a bot fails to re-authenticate it will sometimes get stuck and PTC is pretty flaky.

[2016-07-28 06:51] modrzew commented on #13
@MonsterMMORPG code with improved points spreading has been in [v0.3](https://github.com/modrzew/pokeminer/releases/tag/v0.3) for a couple of days already. Please check it out.

[2016-07-28 06:51] #13 closed

[2016-07-28 09:11] ardeaf commented on #57
Hex is quite a bit faster but much more inaccurate.

[2016-07-28 09:32] elx0r commented on #58
The only issue I saw is than after 6 hours...no pokemon was found by any worker.And i'm using PTC
I think we need a more stable DB perhaps :(

[2016-07-28 09:34] elx0r commented on #40
Any solution for this yet?

[2016-07-28 09:39] elx0r commented on #32
Can you please tell me how? Thnx

[2016-07-28 11:07] modrzew commented on #57
I also saw reports about it being not as accurate. Moreover it also uses way more computation to generate hex grid. I'll look into it, but it's low on my priority list.

[2016-07-28 11:08] luzer commented on #58
same here

[2016-07-28 12:38] Aiyubi opened #61 "[suggestion] move away from grid"
currently the grid is what is limiting the number of workers.
number_of_workers_active = Grid[0]*Grid[1]

I think it would be better to spawn as many workers as ACCOUNTS

How to do this easy:
1. create all locations to scan
2. sort them in a way that there is a single path (like this https://goo.gl/BBnLZN )
3. seperate the path in len(ACCOUNTS) parts
4. spawn 1 worker per path segment

This would

[2016-07-28 13:01] Bifros7 commented on #61
I like the flexibility of rows and columns. Sometimes I want to scan an area in something like a (5, 20) grid.

[2016-07-28 13:14] thappy commented on #52
I am also having these errors, and I am pretty clueless when it comes to switching over to mysql. Can anyone make a guide an update? Please :)

[2016-07-28 13:25] Aiyubi commented on #61
@Bifros7 what do you think is the difference?

[2016-07-28 13:28] Bifros7 commented on #61
@Aiyubi Maybe I misunderstood your suggestion, I thought you wanted to always create a square grid. If that's not the case, I'm all for it.

[2016-07-28 13:57] Kostronor opened #62 "logging data for later analysis"
Hello there,

we are currently creating a big collection of pokémon spawns/nests and want to ask popular pokemon maps to share their data with us.

for reference:
https://www.reddit.com/r/TheSilphRoad/comments/4uqlet/pokelyzer_setup_instructions_a_tool_for_finding/
https://github.com/Kostronor/pokelector

What we would need are:

- A log file created that adds a new line for each pokémon found.If

[2016-07-28 14:09] modrzew commented on #62
Why don't you just connect to the database and transform data in whatever way you want?

[2016-07-28 14:15] #62 closed

[2016-07-28 14:17] kravock commented on #52
So I'm a complete novice at python, only just started fiddling with it because of pokemongo, but I got mysql working. This is what I did. I am running my miner on Ubuntu 16.04 so it may not work for your operating system

- Run 'apt-get install mysql-server'. This will install MySQL on your server. You will be prompted to set a root MySQL password when installting so note this down so you don't fo

[2016-07-28 14:18] modrzew commented on #62
By the way, the only field that's really missing now is encounter ID, and that was already reported in #15.

[2016-07-28 14:25] Kostronor commented on #62
The plan was to have a small script push new data every x hours (or use events from within the map). Connecting to the db means (with sqlite) that the user has to quit the map for data upload, something we want to prevent.

[2016-07-28 14:43] modrzew commented on #62
If I understand correctly the problem lies in your application's architecture, and not pokeminer.

[2016-07-28 14:48] Kostronor commented on #62
Pokeminer is using sqlite, right? And sqlite cannot be accessed by two programs at the same time. So to access the data pokeminer is accumulating we need to interface with your program, not the database.

And we are asking if it would be possible to help you create such an interface.

[2016-07-28 14:54] modrzew commented on #62
Pokeminer is using [any database engine supported by SQLAlchemy](http://docs.sqlalchemy.org/en/latest/core/engines.html).

And [who said SQLite can't be accessed by multiple processes at the same time](https://www.sqlite.org/faq.html#q5)? Actually, pokeminer's multiple workers are able to access it using multiple connections over multiple threads. I think default connection pool in SQLAlchemy has

[2016-07-28 15:01] Kostronor commented on #62
Ahh I see! Would it be possible to add an upload config option to pass data on for further analysis? If yes, where in your codebase is the point to insert new pokemon into the database?

[2016-07-28 15:11] Aiyubi commented on #61
@Bifros7 it really is just about the distribution of work to workers - nothing else

[2016-07-28 15:11] fu20161234 commented on #40
Which part? The over 100% bug is fixed, but that doesn't actually break anything so it's safe to ignore. As for the finding no pokemon part, for some reason the workers seem to go bad after a while. My solution was to change it from running 3 cycles before restarting to just running one cycle, and I made sure all my workers were completing their cycle in under 15 minutes by using the timer.

[2016-07-28 15:12] fu20161234 commented on #52
Awesome, thanks. Now to merge all of the sqlite db records over...

[2016-07-28 15:13] paperc07 commented on #32
https://github.com/coarse/ptc-account-maker

[2016-07-28 15:18] kravock commented on #52
Yeah same. I'm a php developer so I'll probably just write a script in PHP
to pull it all from sqlite and into mysql

On 29 Jul 2016 01:12, "fu20161234" <notifications@github.com> wrote:

Awesome, thanks. Now to merge all of the sqlite db records over...

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/modrzew/pokeminer/issues/52#

[2016-07-28 15:18] modrzew commented on #59
It's not possible. You get CP after you click on Pokemon and try to catch it, and you get its attacks after you actually catch it.

[2016-07-28 15:18] #59 closed

[2016-07-28 15:24] Aiyubi commented on #57
@modrzew it is a one time generation and really not that much calculation more.

I would not say it is less accurate. Everything depends on the radius you expect as scannerrange.

I would like to give this a try. Will report back once I made some progress

[2016-07-28 16:23] Sigi-cz commented on #19
Ok I got it. Those negative times are for 30min spawns opposite to regular 15min spawns.
the relation between the time values is ExpirationTimeMs = LastModifiedMs + TimeTillHiddenMs
with negative TimeTillHiddenMs the formula is ExpirationTimeMs = LastModifiedMs + TimeTillHiddenMs + 841345181
this will give correct despawn time

[2016-07-28 16:31] fu20161234 commented on #52
Feel free to share that if you want. Otherwise I'll be doing a bash equivalent.

[2016-07-28 17:59] rnunojoao opened #63 "Live map don't work."
Here's a image: http://prntscr.com/bypvzd

[2016-07-28 18:57] Bifros7 commented on #63
Is your worker running? Did you initialize your db by running
[code]
?

[2016-07-28 19:21] Kostronor opened #64 "Python3 support"
I forked your repo and added python3 support for it. Would it help to make a pull request?

[2016-07-28 19:47] fu20161234 commented on #64
Why not just submit a pull request and let him decide if he wants it? This isn't an issue...

[2016-07-28 19:48] Kostronor commented on #64
@fu20161234 many maintainers like it to have an issue to the pull request, so asking first is just being nice. If he does not want my pull request, python3 support is an issue.

[2016-07-28 22:10] Sigi-cz commented on #19
Nah, the "constant" is different for each 30/45 min spawn.
But they should be displayed on the map, even with negative TimeTillHiddenMs.

[2016-07-28 22:18] 1n9i9c7om commented on #37
As it might help troubleshooting;
I've noticed that this is occuring on my setup that uses sqlite. My other setup that uses MySQL (and scans a much larger area) works (except for some crashes, heh): http://i.1n9i9c7om.com/ETWZf1.png

[2016-07-28 23:04] MEGAMERICAN commented on #58
I am having the same problem right now with only 10 workers. I restart the program and anywhere between 2 - 5 will be stuck at 0%. Each time different ones do not work. They are all PTC accounts, so I expect that it is server issues.

[2016-07-28 23:05] tmcfl commented on #58
I've noticed this same issue. Looks like the workers occasionally get hung up while (re)connecting, and there's no process to check whether they're hung and try connecting again. So if the process is run long enough, the amount of workers stuck at 0% steadily increases.

Examining the `worker.log`, the last/only message for a worker that's stuck at 0% is `Starting new HTTPS connection(1): sso.poke

[2016-07-28 23:07] bravelittletoastr commented on #63
Where is your static folder at?

[2016-07-28 23:07] rnunojoao commented on #63
I don't what did I did but it's working now!

[2016-07-29 00:14] Sigi-cz commented on #61
I also would remove the grid. Just take the border coordinates, calculate cells and assign available workers. If there are not needed workers (50 cells, 100 workers) just let the rest slack :)

[2016-07-29 00:53] suppoo commented on #52
Does /report work normally for you after switching to mysql?

[2016-07-29 01:14] kravock commented on #52
Yeah, seems to. You'll need to wait an hour for it to gather data.

On 29 Jul 2016 10:53, "suppoo" <notifications@github.com> wrote:

[2016-07-29 09:47] Aiyubi commented on #37
submitted bugfix #68

[2016-07-29 10:06] Mila432 commented on #53
fixed

[2016-07-29 10:06] #53 closed

[2016-07-29 10:06] Mila432 commented on #52
fixed with lots of try's

[2016-07-29 10:06] #52 closed

[2016-07-29 11:17] DerBoss069 opened #69 "worker.py stopping"
After a few minutes my worker.py keep stopping with this infos:

[code]

Anyone know how can i fix this?

[2016-07-29 12:27] Bifros7 commented on #69
Most likely an issue with the PGO servers. If it bothers you, you can wrap it in an infinite while loop like this:
[code]

[2016-07-29 13:35] DerBoss069 commented on #69
I install supervisor for ubuntu and let him do a restart if it crashs :)

[2016-07-29 17:14] Zyahko opened #70 "Tuple object"
When I do the "import db" while following /u/gprez's great tutorial on Reddit. It gives me an error for one of my accounts and says this:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "db.py", line 17, in <module>
    import config
  File "config.py", line 10, in <module>
    ('username', 'password', 'google')
TypeError: 'tuple' object is not callable

[2016-07-29 18:04] fu20161234 commented on #70
Can you share your whole config? I'd bet you have an extra comma or are missing one somewhere.

[2016-07-29 19:45] Zyahko commented on #70
Yea after looking at the config file it seems that I had forgotten a comma at the end of the line 9

[2016-07-29 22:43] modrzew commented on #37
#68 was just merged to master, will be released together with v0.4.

[2016-07-29 22:43] #37 closed

[2016-07-29 22:45] #11 closed

[2016-07-29 22:50] modrzew commented on #40
A few things just landed in master:

- ability to modify how many cycles worker should run before restarting (in config)
- overseer (`spawn_workers` main loop) visits each worker every 5 minutes and if it doesn't increase its seen counter, kills it and spawns new worker
- switched to the most recent version of pgoapi, which has somewhat better error handling

Please check whether that improved thi

[2016-07-29 22:50] #40 closed

[2016-07-29 22:52] modrzew commented on #12
I just added a simple mechanism to replace workers that don't report anything for 5 minutes (on top of several other changes). Check out whether it improves things for you.

[2016-07-29 22:52] #12 closed

[2016-07-29 22:52] #14 closed

[2016-07-29 22:57] modrzew commented on #33
I just merged code to master that checks upon workers every 5 minutes and replaces those that are stuck for some reason (either at 0%, or running around and not seeing a single spawn). Please check it out - I'm closing the issue, but feel free to open new one in case there's anything wrong.

[2016-07-29 22:57] #33 closed

[2016-07-29 22:57] modrzew commented on #20
I just merged code to master that checks upon workers every 5 minutes and replaces those that are stuck for some reason (either at 0%, or running around and not seeing a single spawn). Please check it out - I'm closing the issue, but feel free to open new one in case there's anything wrong.

[2016-07-29 22:57] #20 closed

[2016-07-29 22:58] modrzew commented on #21
There definitely is, and it's quite easy to implement - but live map is low on my priorities list, as pokeminer is mainly data gathering tool.

[2016-07-29 22:59] modrzew commented on #22
@paperc07 [anything supported by SQLAlchemy](http://docs.sqlalchemy.org/en/latest/core/engines.html).

[2016-07-29 22:59] #22 closed

[2016-07-29 23:01] modrzew commented on #27
Of course, by "Thursday" I obviously meant Saturday.

Anyway a few changes just landed in master, and worker should go in circles around its starting point - please check it out.

[2016-07-29 23:01] #27 closed

[2016-07-29 23:02] #30 closed

[2016-07-29 23:03] modrzew commented on #35
I wrapped the request part in worker.py with try..except block and it should catch more exceptions and automatically restart workers - please check it out.

[2016-07-29 23:03] #35 closed

[2016-07-29 23:04] modrzew commented on #42
PR #34 was just merged to master.

[2016-07-29 23:04] #42 closed

[2016-07-29 23:05] #48 closed

[2016-07-29 23:05] #49 closed

[2016-07-29 23:07] modrzew commented on #50
Looks like an issue with config. Closing, feel free to open another one in case there are further problems.

[2016-07-29 23:07] #50 closed

[2016-07-29 23:21] modrzew commented on #54
Number of steps was dropped some time ago, now workers visit all points of interest in their area. You can configure the spread of the points by lat/lon gains.

How much it is depends on where you are. One degree of longitude is about ~110 km at equator and decreases to 0 as you go to either of the poles. There isn't any mechanism in pokeminer for calculating that, because you usually set it up on

[2016-07-29 23:21] #54 closed

[2016-07-29 23:23] modrzew commented on #58
Bunch of changes just landed in master, especially mechanism that restart workers that don't do anything for more than 5 minutes (either are frozen, or are running around without seeing any spawns). Please check it out.

[2016-07-29 23:23] #58 closed

[2016-07-29 23:25] modrzew commented on #61
I like the idea of creating the path. I'll look into it.

[2016-07-29 23:25] modrzew commented on #63
Yay! :+1:

[2016-07-29 23:25] #63 closed

[2016-07-29 23:28] Bifros7 opened #71 "ImportError: No module named pgoapi"
Pulled the new master, now the worker errors.

[2016-07-29 23:28] modrzew commented on #64
@Kostronor could you check whether the newest master also can be easily ported to py3? Specifically pgoapi library. If so then I'll surely dedicate some time for that - I didn't really think about it before, but Python 2 should be treated as a relict of the past, and Python 3 should be the only way to go.

[2016-07-29 23:30] modrzew commented on #69
@DerBoss069 does it happen on the most recent master? It's definitely not an issue with PGO servers, but if memory servers me right I also fixed something similar recently.

[2016-07-29 23:30] #70 closed

[2016-07-29 23:31] modrzew commented on #44
The quick workaround would be switching to MySQL (or other database engine).

[2016-07-29 23:31] #56 closed

[2016-07-29 23:32] modrzew commented on #71
`pip install -r requirements.txt`

[2016-07-29 23:36] Bifros7 commented on #71
Duh, sorry.

[2016-07-29 23:36] #71 closed

[2016-07-30 01:37] nathaned opened #72 "New config.py requirements"
Looks like you've added a few new items to config requirements:

- CYCLES_PER_WORKER
  - I've looked into the older version and it looks like **3 was the default before**, so I'll use that unless it is better to use something else.
- LAT_GAIN / LON_GAIN
  - Again, found the defaults from the previous version:
    - LAT_GAIN: 0.0015
    - LON_GAIN: 0.0025
  - Could someone state how to calculate th

[2016-07-30 03:49] MEGAMERICAN commented on #72
It looks like you are correct for lat_gain/lon_gain. My 30 bots are definitely not catching as large an area as they were before.

[2016-07-30 04:06] Mikeboyslim opened #73 "install requirements.txt git clone command error"
Running fresh install `pip install -r requirements.txt` nets me
`Error [Error 2] The system cannot find the file specified while executing cammand git clone -q git://github.com/tejado/pgoapi.git "MYPATH\pokeminer-master\src\pgoapi.git"
Cannot find command 'git'`

I have Python 2.7 and pip is up to date. I have manually installed the api manually to bypass that part of the installation, but nets me

[2016-07-30 04:38] childrscott commented on #72
Anyone else have any ideas on this? What have you guys tried?

[2016-07-30 06:03] nathaned commented on #72
I had the great idea to waste a bunch of time on this because why not.

So obviously there's some basic geometry that says that if you make a little square out of four circles, you want the inside corners of each circle to touch in order to cover all of the area. I calculated that since each circle has a radius of 70m, diagonal radii should be 140m apart, with a 45 degree angle between them.

So b

[2016-07-30 07:04] Aiyubi commented on #73
did you clone the pokeminer git or download the zip file?
looks to me like you do not have git in your path?
Also what is your OS?

[2016-07-30 07:09] Sigi-cz commented on #72
yeah. letting user to set those is not best idea. This is how my setup looks while using defaults ...
http://imgur.com/x8pFIAo
var START_LAT = 49.545294
var START_LON = 18.211099
var LAT_GAIN = 0.0015
var LON_GAIN = 0.0025

[2016-07-30 07:32] Aiyubi commented on #72
@Sigi-cz remember the defaults are based on the old 100m radius. With that it looked way better

[2016-07-30 09:32] GaelicGamer opened #74 "Scan Radius"
Hey Guys, trying to figure out if anything needs to be done to accommodate the new scan radius of 70m against the previous 100m?

[2016-07-30 09:57] Aiyubi commented on #74
adjust your lat/long gain. See #72 discussion

[2016-07-30 12:30] modrzew commented on #73
I changed `requirements.txt` so that pgoapi is installed over HTTP, and not git. Please check out 6e4e30f39572c02a10c1e2e780c663974a529945, it's in master.

[2016-07-30 12:36] microadam opened #75 "Show scanned area"
Similar to the grid on the map that PokemonGo-Map has. It would be useful to see if there are any gaps in the area you are trying to cover, as its just guess work currently.

[2016-07-30 14:58] MrYadro opened #76 "Login failed"
I'm not sure if it's pokeminer bug or pokeapi.

I'm trying to login 16 of my accounts which look like:
--------------1
...
--------------16

login and pass is the same.

But for no reason starting after account number 10 they are fail to login.
What i found if i have password longer then 15 symbols it always fails to login.

P.S. and ofc stripping last symbol fixes the issue.

[2016-07-30 15:00] modrzew commented on #76
Are you using PTC? I remember some old code in PokemonGo-Map that truncated password to first 15 characters for some reason and used that to login. Try doing that in your config and see whether it helps.

[2016-07-30 15:01] MrYadro commented on #76
@modrzew yea, i just remembered that, and it fixed the issue. You had to strip it.

[2016-07-30 16:13] modrzew commented on #75
This was implemented in f99f577c458be586d21c1a19ea5070052051a1cb and will be released in v0.4 soon.

[2016-07-30 16:13] #75 closed

[2016-07-30 16:14] modrzew commented on #74
New button for showing/hiding workers, together with their scan area, was implemented in f99f577c458be586d21c1a19ea5070052051a1cb and will be released with v0.4 soon. You can check it out.

[2016-07-30 16:14] #74 closed

[2016-07-30 16:15] modrzew commented on #21
I added simple GPS tracking (or rather map-centering) in f99f577c458be586d21c1a19ea5070052051a1cb, and will put it together with v0.4 soon.

[2016-07-30 16:15] #21 closed

[2016-07-30 16:15] #73 closed

[2016-07-30 16:15] #76 closed

[2016-07-30 16:33] modrzew commented on #72
I added new toggle button to the live map that shows/hides workers, and more importantly - shows also scan area for all of the points. It's in master and will be released in v0.4.

[2016-07-30 16:57] MrYadro opened #78 "Weird data"
I'm having bunch (about 300) of pokemons spawned with despawn time 1468878815 is that a bug, or niantic trying to add some "noise" in pokemon spawns.

Could anyone confirm that?

[2016-07-30 16:59] modrzew commented on #78
Those are 30min/45min spawns. Which version are you using? I realized I may have removed code that prevented them from being put in the database when I moved to pgoapi.

[2016-07-30 17:00] MrYadro commented on #78
I'm using latest code from you repo and pgoapi from requirements.txt

[2016-07-30 17:02] modrzew commented on #78
Yeah, that explains it. For now just remove those records from database manually when analyzing data/generating reports. Those spawns will be added as normal when expiration time goes under 15min, so you won't loose data about sighting (provided that you run workers for long enough).

[2016-07-30 18:06] vDrag0n opened #79 "Scan radius decreased from 100m -> 70m"
Has pokeminer been amended to account for the changes yet?

Also are there any plans on changing the algorithm to a hexbased search algorithm?

[2016-07-30 18:21] GaelicGamer commented on #74
Thanks mate, appreciate the direction.

[2016-07-30 18:28] GaelicGamer commented on #79
This is addressed in #72 I had the same thought process seeing that last night, and there is another issue already about the hexagonal scan #57

[2016-07-30 18:32] modrzew commented on #79
Long story short: amend it yourself by using `LAT_GAIN` and `LON_GAIN`.

Using hexagons seems like a more challenging task than just creating a grid, and I'll definitely look into it, since who doesn't like challenges?

[2016-07-30 19:26] modrzew commented on #78
Fix added to master, aaaaand it was just released together with v0.4.

[2016-07-30 19:27] #78 closed

[2016-07-30 19:46] fu20161234 commented on #79
I went with default values suggested elsewhere, and unless something else submitted changed the workers scanning, I went from 200 points per cycle to 1k... we could use a way to determine proper values.

[2016-07-30 19:47] fu20161234 commented on #72
@nathaned I have way more than 4 workers (25-75 depending on the area) and am trying to find good values. When I used the values you suggested, my points per cycle went up from 200 to 1000. I'm trying to scan a much larger area than you are proposing, any suggestion on how to find proper values?

[2016-07-30 20:01] nathaned commented on #72
@fu20161234 did you use the link I posted? It should scale no matter how many workers you use

[2016-07-30 20:23] fu20161234 commented on #72
@nathaned Am I missing something? You're talking about this, right? https://jsfiddle.net/m6nzLmna/

So I put my start lat and lon, but I don't see anywhere to specify the end location and/or number of workers. What am I doing wrong?

[2016-07-30 20:24] Aiyubi commented on #72
@nathaned you are supposed to edit lat/long gain to find the values

[2016-07-30 20:24] nathaned commented on #72
@fu20161234 Number of workers shouldn't matter. Just play with the gain values to ensure that the circles all overlap in the middle.

[2016-07-30 20:42] GaelicGamer commented on #79
That would probably be accurate if you don't want to miss anything, otherwise the javascript posted in #72 would be the closest thing to help you figure out what you want.

[2016-07-30 20:49] vDrag0n commented on #72
thanks for the links, i've ammended my lat/long gains to be more accurate.  but scan speeds per cycle are much slower due to the increased point demands.

Have a look at the hex algorithms, the argument is there is less overlap compared to grids, and thus faster cycles.

[2016-07-30 21:41] fu20161234 commented on #72
Gotcha. I was able to shave a little time off, but still a huge increase in number of workers required :/ I have no desire to make that many more accounts.

[2016-07-30 21:41] fu20161234 commented on #79
That's just an insane increase, I'd have to create quadruple the amount of accounts I was using before...

[2016-07-30 21:51] VirtualSatai commented on #72
@fu20161234 You can easily create them using a tool like: https://github.com/ocjd/ptc-account-creator

[2016-07-30 22:14] fu20161234 commented on #72
Finally, thanks! I had found a couple online that were just not working or didn't validate, but if that one works I'll do that! Thanks a bunch!

[2016-07-30 22:43] DavidSelem opened #80 "All pokemons are expired while viewing the map on my phone"
In my desktop its showed correctly,  but in my phone it's not, what could be causing this ?

[2016-07-30 23:01] jane0815 opened #81 "[Suggestion] Alerts"
Is it possible to add alerts to pokeminer?

[2016-07-30 23:17] VirtualSatai commented on #81
I doubt it will happen since the point of this project is to gather data, not to be a map. Since you have a database with data, you can just query it frequently to get the data about Pokémon you're interested in and have that alert you.

[2016-07-30 23:24] jane0815 commented on #81
The maps all do not work very well since the api was changed. Pokeminer map is the only one that shows all pokemons for me. So i thought it would be nice to get alerts from it too. I am not a coder and don't know how to get that infos from the database.

[2016-07-31 00:48] Incestosaurus opened #82 "Error 2 when installing requirements.txt"
I put the following into a command window at pokeminer-0.4:
`"C:\Python27\Scripts\pip2.7.exe" install -r requirements.txt`

and I get the error :
` Error [Error 2] The system cannot find the file specified while executing command git clone -q https://github.com/tejado/pgoapi.git "C:\Users\The Harbinger\Desktop\Desktop Junk\pokeminer-0.4\srs\pgoapi"
Cannot find command 'git'`

Anyone know how to fi

[2016-07-31 00:52] kravock opened #83 "Worker.py error every 30 seconds or so"
Since some of the latest changes I'm getting the following error in my worker.log every 30 seconds or so
`[2016-07-31 10:50:30,352][  worker-3][   ERROR][L 155] A wild exception appeared!
Traceback (most recent call last):
  File "worker.py", line 150, in run
    self.main()
  File "worker.py", line 192, in main
    map_objects = response_dict['responses'].get('GET_MAP_OBJECTS', {})
TypeError: seq

[2016-07-31 00:58] DavidSelem commented on #82
You need to install git first

[2016-07-31 01:50] pokemonracer opened #84 "Workers getting killed?"
Any idea why that happens? There was nothing in worker.log.

[2016-07-31 01:57] pokemonracer commented on #84
Last lines before it gets killed:

[2016-07-31 02:00] Incestosaurus commented on #82
Where do I install that? Sorry I'm pretty new to Python

[2016-07-31 02:09] ferazambuja commented on #84
It's the new 5 second per scan limit.

[2016-07-31 02:24] pokemonracer commented on #84
http://imgur.com/kXrznPF seems like.

[2016-07-31 03:26] nathaned commented on #84
@pokemonracer line 188 of worker.py

[2016-07-31 04:07] #82 closed

[2016-07-31 05:54] vDrag0n commented on #84
Is it just me or do they not seem to be restarting after killed?

[2016-07-31 08:26] kravock commented on #84
@vDrag0n yeah, they're not restarting. I'm getting a lot of workers getting exceptions now also.

[2016-07-31 08:31] modrzew commented on #80
No idea. Lack of Internet connection? Some JS error?

What phone and browser do you use?

[2016-07-31 08:33] modrzew commented on #81
If you want alerts on a live map, then you can hack your way in `templates/map.html`. But @VirtualSatai is right, live map is just an addition, and pokeminer focuses on filling the database.

[I actually did a simple version of notification system before](https://github.com/modrzew/pokeminer/commit/a079cc9fc6732455dda9d03331f8dd2ca543d6b8), you can use that as a hint what & where to modify.

[2016-07-31 08:57] plague180 commented on #80
My brother was also having this issue. Works fine on my iphone, but not on his android(one of the new notes) since I updated to 0.4.

[2016-07-31 09:35] modrzew commented on #84
Please check out v0.4.1. You'll probably want more workers than before.

[2016-07-31 09:49] kravock commented on #84
How many more workers than before would you recommend? Also, is it better for the worker points to be overlapping? The circles that show in the overlay.

[2016-07-31 09:52] modrzew commented on #84
Each worker can scan one point every 5 seconds, and single cycle should finish under 15 minutes in order not to have missed spawns. That means keeping under 180 points per cycle should be enough.

[2016-07-31 09:54] kravock commented on #84
More or less points per cycle is better? Got ~195 currently.

[2016-07-31 10:04] Cy4n1d3 commented on #84
Less is better if you want to lower the load on each worker.

[2016-07-31 12:06] Shentang opened #86 "Multiple exceptions since I updated to the new version"
I updated today, and I'm getting something like this:
[code]

[2016-07-31 12:54] Aiyubi commented on #86
got the same error on one of my systems

[2016-07-31 14:59] amistad18 commented on #83
Yep, I noticed the same. I was using 2 vCPU lunanode VPS, and the average usage when all 45 workers were working was around 1.50 ... after newest version, it jumped to ~5.00. So I had to decrease number of workers, to 30 to fit into max 2.0 average CPU usage :(

[2016-07-31 16:14] Brideau opened #87 "Best Approach to Integration?"
Hey there,

I created [Pokelyzer](https://github.com/Brideau/pokelyzer), a database schema that supports doing advanced analytics on historical Pokemon Go data using GIS software (e.g. ArcGIS/QGIS) and BI tools like Tableau or PowerBI. You might have come across it in the Silph Road subreddit post: [Finding Hotpots for Locally Rare Pokemon Using Tableau](https://www.reddit.com/r/TheSilphRoad/comme

[2016-07-31 17:26] vDrag0n commented on #84
how do you calculate the points per cycle?

[2016-07-31 17:27] nathaned commented on #84
@vDrag0n just run worker.py and it tells you at the top

[2016-07-31 19:13] pokemonracer commented on #79
I got +120 workers for 7 square km area. Is that overkill? Not sure if i can expand the area without loosing  real time info of pokemons.

[2016-07-31 19:39] theresthatguy opened #88 "[Feature Request] Master-Slave workers"
The way Go-Map can run multiple scanners with one account I think would be helpful in Pokeminer since this fork is meant to run multiple scanners at a time. Say if each account could run 3 scanners, then with  20 accounts I would be able to run 60 scanners and cover a much greater area to scan and with a lot less tedious work of setting up email/PTC accounts or the pokeminer config file or keeping

[2016-07-31 19:43] ferazambuja commented on #87
That would be great. Even more now that it's almost impossible to scan a decent area with a single worker.

[2016-07-31 19:54] plague180 commented on #87
I think this would be pretty cool too.

[2016-07-31 20:09] DavidSelem commented on #80
I'm on a nexus 5x,  using Chrome,  tested in local wifi and 4G

[2016-07-31 20:21] pokemonracer opened #89 "How many workers for certain area?"
Let's optimize. I want to keep my ability to see reliable data of live pokemons but still scan larger areas for science.

After the latest updates from Ninantic, how many workers would be best for certain radius/area of x square km? How many points should my workers visit per cycle?

[2016-07-31 20:23] Aiyubi commented on #89
there is some stuff described in #84

[2016-07-31 20:45] ShaneNolan opened #90 "No reports?"
No reports have been generated, is this a bug ?

[2016-07-31 20:48] pokemonracer commented on #90
http://127.0.0.1:8000/report ?

[2016-07-31 20:52] ShaneNolan commented on #90
Wow, I'm dumb. Thanks!

[2016-07-31 20:52] #90 closed

[2016-07-31 20:52] pokemonracer commented on #89
oh yeah, thanks. So..

- Less is better
- "Each worker can scan one point every 5 seconds, and single cycle should finish under 15 minutes in order not to have missed spawns. That means keeping under 180 points per cycle should be enough."

I'm running 120 workers for 100 square km area, my points per cycle value is still ~98.6.

[2016-07-31 20:55] plague180 opened #91 "Limit Size of log file"
I was just wondering if there are plans to limit the file size of the log file. I don't really need several 600 megabyte log file.

[2016-07-31 21:23] theresthatguy commented on #89
How are you creating so many email/PTC accounts?

[2016-07-31 21:35] theresthatguy opened #92 "AttributeError: 'tuple' object has no attribute 'timetuple'"
I am getting this error why trying to view any reports.

[code]

[2016-07-31 21:56] pokemonracer opened #93 "web.py - SAWarning: The IN-predicate on "sightings.pokemon_id" was invoked with an empty sequence."
Got this error in my web.py-console. Could this be problem with my sqlite-db being too slow for my workers?

Also logging for web.py would be awesome! :)

[2016-07-31 21:59] theresthatguy commented on #87
I agree. This could be very useful.

[2016-07-31 22:53] amistad18 commented on #89
https://github.com/modrzew/pokeminer/issues/72#issuecomment-236391871

[2016-08-01 01:26] VirtualSatai commented on #92
Does your `config.py` contain a valid `REPORT_SINCE` ?
I.e:
[code]

[2016-08-01 01:56] jane0815 commented on #92
Same problem here.

When i use: "REPORT_SINCE = datetime(2016, 7, 29)" i get the error that datetime is unknown. When i use "REPORT_SINCE = (2016, 7, 29)" web.py will start but i still get "AttributeError: 'tuple' object has no attribute 'timetuple'"

[2016-08-01 02:01] VirtualSatai commented on #92
@jane0815 You should also insert `from datetime import datetime` to the top of `config.py`.

The `REPORT_SINCE = (2016, 7, 29)` isn't a timetuple since it's just a tuple of ints.

If you keep having issues, then I'd advice you to copy the `config.py.example` and start over.

[2016-08-01 03:05] ziofat opened #95 "What dose BAD LOGIN means?"
Some of my workers appear BAD LOGIN or KILLED message, and I have to restart the script to make them work again. I didn't find related logs in the log file.
I want to know why there is a BAD LOGIN, the username/password is correct and the workers sometimes can run.

[2016-08-01 03:25] subzerofun opened #96 "worker.py TypeError: __init__() got an unexpected keyword argument 'syntax'"
Hey thanks for the code!

Unfortunately i cannot execute the worker.py... I´m using OSX 10.10.5, Python 2.7 and have installed all dependencies (updated to newest version). Still i can´t solve this error on my own... Hope you (or someone from the community) can help!

this is the error i get when i start worker.py:
`Traceback (most recent call last):
  File "worker.py", line 11, in <module>
    fr

[2016-08-01 03:47] subzerofun commented on #96
Problem solved!

I had a protobuf version < 3.0 installed with homebrew and it produced a conflict with a pip installed protobuf version...

so for everyone who is having an error like this: deinstall every protobuf version and begin clean with the protobuf 3.0 version (i installed it via brew install --devel protobuf).

[2016-08-01 03:48] #96 closed

[2016-08-01 03:53] theresthatguy commented on #92
@VirtualSatai Thank you. I originally used and modified the example config that had
`REPORT_SINCE = datetime(2016, 7, 29)`
Which gave me an error, so I removed the 'datetime' from the variable and the workers started. I was unaware of `from datetime import datetime` needed to be at the top since I didn't see it mentioned anywhere till here. Thank you for your replies. Everything is in working orde

[2016-08-01 04:05] #92 closed

[2016-08-01 05:11] xagesz opened #97 "IM an idiot..."
disregard. Git isn't in my PATH

[2016-08-01 05:33] kravock commented on #83
Looks like my CPU issues were related to some changes I had made in my fork. @amistad18 I could do you a deal on a VPS in Australia if you're interested?

[2016-08-01 05:34] Aiyubi commented on #95
check your workers.log to see more details

also your workers should restart in the up-to-date version after some time

[2016-08-01 05:35] Aiyubi commented on #91
There is: "--log-level" when starting your worker.py

[2016-08-01 09:55] kravock opened #98 "Remove google maps api key from credentials.json"
Should the google maps api key be remove from credentials.json and put into config.py? It's something we should probably change to our own and shouldn't be in source control.

[2016-08-01 12:16] VirtualSatai commented on #97
You should close the issue

[2016-08-01 13:47] ohh2ahh opened #99 "Pokémon translations"
Is there an easy way to translate the Pokémon's names? It seems that the locales from PokemonGo-Map are included.

[2016-08-01 14:54] modrzew commented on #79
I'd say it's an overkill. I'm using similar number for 130 square km.

[2016-08-01 15:04] modrzew commented on #87
I don't see much point in creating a webhook mechanism - database is accessible from outside, you can poll for new changes (e.g. by storing last row ID and getting only new ones). Moreover, you'd also need to be prepared that X workers would simultaneously attack your app with hundreds of requests. Database (e.g. MySQL) is prepared for that, but is your app?

I think the best approach is to create

[2016-08-01 15:08] modrzew commented on #88
If I understand correctly, you want to use the same physical PTC session (as in: the same access token, the same connection etc.) to scan multiple places *at the same time*? That's just asking for a ban.

You can use the same credentials over and over in config, and I think that's *slightly* less asking for a ban.

[2016-08-01 15:08] #89 closed

[2016-08-01 15:09] hador commented on #64
@modrzew all dependencies support python3. Your code is actually pretty much python3-ready, it just needs a few one-line changes. I can create a pull-request against the most recent version if you want, or you could check out the changes in my fork and cherry pick them yourself.

[2016-08-01 15:11] modrzew commented on #95
`BAD LOGIN` is displayed after worker intercepts `NotLoggedInException` from pgoapi. Which may be raised when credentials are incorrect, but also (more likely) when potato servers are burning.

[2016-08-01 15:11] #97 closed

[2016-08-01 15:11] modrzew commented on #98
It definitely should.

[2016-08-01 15:12] modrzew commented on #99
Yeah, change [line 34 of `web.py`](https://github.com/modrzew/pokeminer/blob/master/web.py#L34) to point at file of your choice.

[2016-08-01 15:13] modrzew commented on #91
You don't? :crying_cat_face:

Yeah, the best way right now is to use `--log-level` and set it to `WARNING` or `ERROR`.

[2016-08-01 15:27] ohh2ahh commented on #99
Thank you, it works perfectly!

[2016-08-01 15:27] #99 closed

[2016-08-01 15:42] Brideau commented on #87
Polling is an inefficient use of resources and doesn't scale well when you have more than one service requesting data - webooks were invented to solve that problem.

For example, one person that's using Pokelyzer right now is covering 100 distinct geographic areas, and each sends data as soon as it gets it into Pokelyzer, which ingests it immediately. The alternative - to have a service that polls

[2016-08-01 15:47] amistad18 commented on #83
@kravock Thanks for offer, but for me this is other side of the globe ... Poland here ;)

Anyway, I managed to lover the CPU usage by over a half, by disabling some unnecessary workers from the grid.

[2016-08-01 16:25] ferazambuja commented on #87
If webhooks are out of the question could an external db option with extra fields be implemented?

Unfortunately pokeminer right now barely collect enough information on its on db. That's the reasons that I'm running 18 pokemaps with pokelyzer.

[2016-08-01 16:30] GaelicGamer commented on #51
Yeah we should keep the multiple records per location of sighting, its essentially the count at this point and helps to differentiate if there is a duplicate spawn of different time at the same location (its unlikely but it does happen), this is not duplicate data.

[2016-08-01 17:38] Aiyubi commented on #93
I am getting the same error on one of my machines (with mysql) - only one of them gets this error while the others run fine.

Also logging for web? Like the stuff you see on your console?

[2016-08-01 17:47] plague180 commented on #91
I cant believe I didn't notice that when I was adding my own custom args. Thanks guys!

[2016-08-01 17:49] Sigi-cz commented on #51
what are you talking about? did you even look at the DB concept?

Now is the best time to switch thanks to the throttling, btw. Because you can only scan cell_ids where spawns are. (After you learn this info with first 1-2 hour scan)

[2016-08-01 17:53] Sigi-cz commented on #19
https://www.reddit.com/r/pokemongodev/comments/4v71xp/60_minute_long_spawn/

[2016-08-01 18:21] modrzew commented on #87
@Brideau I see the point of integrating with app without touching the code. I still don't think that webhooks are a must-have feature - I designed pokeminer so that data is *easily* accessible from outside via database. I will add it to my todo list, but it's a low priority. Nonetheless if you want to implement said 15 lines of code, feel free to open a pull request - if it fits into the rest of p

[2016-08-01 18:31] #91 closed

[2016-08-01 18:34] #88 closed

[2016-08-01 23:31] thappy opened #101 "Workers being killed"
I have many workers being killed and I am only at ~80 points per cycle. Running 1226 threads across 810km utilizing 130% cpu on a 6vCore server .. do I need to run less workers? It looks like each core is only at ~21% load but many workers are staying at 0%

[2016-08-01 23:43] chromer90 opened #102 "Show workers not working"
In the live map when I hit the show workers button in the bottom left the page becomes unresponsive and then because I am in google chrome it crashes and gives me the aw snap error.

I have everything else working except that. I need to try to see where my workers are because it is not scanning very accurately compared to my main scanner app for smaller locations.

[2016-08-02 00:13] amistad18 commented on #101
I didn't have any problem with RAM usage (nearly 500MB for ~200 workers), but because of CPU usage I had to decrease number of workers on my VPS instance. But I figure out a temporary solution, it probably won't help you with workers being killed (anything interesting in log file?), but it may decrease CPU usage for you - https://github.com/modrzew/pokeminer/pull/100

[2016-08-02 00:16] amistad18 commented on #102
You have to many workers, and it takes a lot of effort for javascript to draw all that circles on your map. I had the same problem, and I updated the code a little to draw circles (show workers scanning areas) only for selected workers, check this out - https://github.com/modrzew/pokeminer/pull/100

[2016-08-02 00:22] chromer90 commented on #102
I only have 9 workers is that too many?

[2016-08-02 01:27] thappy commented on #101
nothing that I can see in the log file.. it all looks pretty normal. The area I am scanning is all metropolitan, disabling workers wont help.. but I am sure I will find this handy when I move on to the lakes and rivers.. thanks!

[2016-08-02 02:48] amistad18 commented on #102
Not at all, with only 9 workers it should work like a charm, for me it takes over 1 minute freeze to generate and display over 100 workers and their areas.

Are you trying to display workers and circles on mobile device? Did you try on other browser?

[2016-08-02 02:52] ferazambuja commented on #87
Sorry, I was a bit dramatic :)  EncounterID and Time2Hidden.
Since pokeminer intent is to collect a large area and data, this two are crucial for later analysis.
Brideau how about a pokeminer database translator uploader meanwhile? With this two extra columns, you have all the info you need?

[2016-08-02 03:13] Brideau commented on #87
@modrzew Sounds good, I'll take a look into doing a pull request once I've cleaned up a few more things with my project.

@ferazambuja That could be useful as well, and would be a good stop-gap measure in the meantime. I'll have a look.

[2016-08-02 05:10] Aiyubi commented on #101
are you using the sqlite file? Might be that your database is slowing everything down

[2016-08-02 06:39] Aiyubi commented on #102
the number of workers doesnt really matter. Questions is how many points per cycle in total you have. If you have 9 workers with 1000 points per cycle this would be too much for javascript to handle

[2016-08-02 10:13] chromer90 commented on #102
@Aiyubi That was it. My points per cycle was extremely high now it is about 40 and it worked immediately.

Another question but I might need to make another issue is that the circles are tiny and very far apart. what should I change to either make them closer together or larger circles?

[2016-08-02 10:34] Aiyubi commented on #102
@chromer90 there is no way to make the circles larger - its a limit of the game
and to make them be closer together you need to adjust the lat/long gain. This will give you more points again.

What I did: choose a small area, then adjust the lat/long gain, then increase to the big area.

[2016-08-02 11:19] chromer90 commented on #102
Thanks that seemed to help alot! I will run it all day today and see if it collects data better. Just need to make more workers now lol

[2016-08-02 11:19] #102 closed

[2016-08-02 11:41] DavidSelem commented on #101
I have 66 workers at 25 points per cycle, when it starts it's using about 10~15% CPU (Web.py & Worker.py) but after a several hours later, the CPU goes upto 60% and I need to stop them and even sometimes restart my PC because it's so laggy

[2016-08-02 15:15] liquefry opened #103 "Skip points"
This is an idea for a feature rather than an issue - would it be possible to skip particular points in the scan?  I live in a harbour city so many points on my grid are in the water.  Would be great to be able to toggle scanning on these points.

[2016-08-02 15:35] modrzew commented on #87
@ferazambuja Time2Hidden and expire_timestamp are the same information in 2 formats, aren't they? So the only thing really missing is EncounterID. But I've seen someone saying that the same Pokemon spawning at the same location at different times could have the same EncounterID, so I was reluctant on building database around it.

[2016-08-02 16:16] chromer90 opened #104 "Quick add new accounts to config"
I was scanning through all the old issues and could not find one about this. I just created about 60 new accounts and need to add them to the config but doing that manually is tedious and instead of me writing a script to do it for me I was wondering if anyone else already had one done for mass adding accounts to the config document or at least formatting them for quick copy and paste of a bunch a

[2016-08-02 16:22] Primalpat- commented on #104
I made this.  It allows you to paste in the account credentials and spits them out in the format the config.py wants.

https://jsbin.com/ferelew/edit?html,js,output

Format of pasted text:
AccountName:AccountPass
AccountName:AccountPass
AccountName:AccountPass
AccountName:AccountPass

[2016-08-02 16:23] Primalpat- commented on #103
See #100

[2016-08-02 16:30] chromer90 commented on #104
Yes that is exactly what I needed and it worked flawlessly!

[2016-08-02 16:30] #104 closed

[2016-08-02 16:41] ferazambuja commented on #87
Brideau probably can expand a bit more on the time2hidden. PGO-mapscan-opt deals with them separate.
I never experienced the duplicated encounterID and the only way for us to know is if this data is saved.

[2016-08-02 16:55] Brideau commented on #87
"Time to hidden" is the number of milliseconds until the pokemon disappears, while expire timestamp is the present time plus "time to hidden".

[2016-08-02 17:31] Weezky opened #105 "cannot find comand git"
Error [Error 2] El sistema no puede encontrar el archivo especificado while executing command git clone -q https://github.com/tejado/pgoapi.git C:\Users\Mauricio\Downloads\pokeminer-master\pokeminer-master\src\pgoapi
Cannot find command 'git'

I'm getting that when installing requirements, I already installed the git package, added it to my path, and did everything.. cant find what I'm missing.

I

[2016-08-02 17:36] Weezky commented on #105
I downloaded the pgoapi manually, but I'm now getting this error.
Command "python setup.py egg_info" failed with error code 1 in c:\users\mauricio\appdata\local\temp\pip-build-65fkwj\protobuf3\

[2016-08-02 18:10] #105 closed

[2016-08-02 18:46] modrzew commented on #57
So this just landed in master in as 3f6aec6639ebeddb7d72beef05e6cb512474071f. It was fun, doing math once in a while!

[2016-08-02 18:46] #57 closed

[2016-08-02 18:55] modrzew commented on #64
...seriously? 01baeac1ec3fb90870e05cf817331b72cc5ebcf8 was everything needed?

[2016-08-02 18:55] #64 closed

[2016-08-02 19:30] GaelicGamer commented on #51
Of course I read the schema, otherwise I would have no grounds to critique it with, thanks for assuming that I'm an idiot?

The poster of the schema even understood this and included a disclaimer in his post "**you may notice that there are no fields for frequently changing information like pokemon spawned or fort owner. the goal was to seperate static from "live" or mined data, best in a differen

[2016-08-02 19:32] pokemonracer commented on #93
Haven't seen this error since. Odd.

And yes, i mean stuff on the console, just like with worker.py.

[2016-08-02 19:56] Primalpat- opened #106 "Using mssql as database will cause exceptions in the reports pages."
I haven't had a chance to look at the code myself, but here is the exception/traceback:
![image](https://cloud.githubusercontent.com/assets/7916442/17342942/6a5482e6-58c9-11e6-9b28-96d3132f6049.png)
![image](https://cloud.githubusercontent.com/assets/7916442/17342993/9a97f7d0-58c9-11e6-8b9a-3571bf257865.png)

[2016-08-02 19:59] Primalpat- commented on #106
It looks like since I am using tsql, LIMIT is not supported.  I think it is the same as if I used TOP instead.

When I have a chance I'll see if I can pull down the code, make some sort of detection, and rewrite the queries.  I will submit a PR when finished.

[2016-08-02 20:23] Aiyubi commented on #93
as far as I understand it, this was one of the exception cases that got already fixed without looking at this bug

[2016-08-02 20:46] ferazambuja opened #107 "Python 3 Compatibility"
Hey just downloaded the last "dev" build with the python 3 added.
At least for me the only way to run both worker.py and web.py is using:
`python3.5 worker.py`

I'm on mac and have 2.7 and 3.5 installed. Maybe a head-up on the wiki 👍

[2016-08-02 21:45] ferazambuja opened #108 "Pokemon Icon size"
Hey, I'm trying to use higher res images of the Pokemons. Like the ones used on PokemonGo-Map v2. Is there a way to reduce the size of icons on the HTML templates?

[2016-08-02 21:49] modrzew commented on #107
You can still run it fine with Python 2.7, Python 3 is optional at this point.

But I'm planning on dropping support for Python 2 soon.

[2016-08-02 21:51] ferazambuja commented on #107
I get this with 2.7:
`Traceback (most recent call last):
  File "worker.py", line 11, in <module>
    from pgoapi import (
ImportError: No module named pgoapi`

[2016-08-02 23:09] Varnsen opened #109 "pgoapi error"
Hey, when I attempt to run python worker.py, I get the following error:
[code]

Running python web.py etc.
I get this error
[code]

It looks like the requirements aren't installing correctly. When I run pip install -r requirements.txt, this is the response I get:

[code]

Any idea how I can fix these errors?

[2016-08-02 23:22] freakjam commented on #109
Fetch latest requirements.txt and run pip install again. The file was updated recently.

[2016-08-02 23:31] Varnsen commented on #109
I just tried running it again, with the new requirements.txt (comparing the two - they look the same unless I'm getting the wrong one.)

Here's the pip.log that was generated. Sorry for the size!

[code]

[2016-08-02 23:56] puddingbrood opened #110 "Pushbullet integration?"
I know the aim of this project is not for live usage, but it's definitely getting used as such. Should Pushbullet integration be added? It's incredibly easy to add. Just import the library from [pushbullet](https://github.com/randomchars/pushbullet.py) .

Add this to the top of db.py
`from pushbullet import Pushbullet`

Under `Base = declarative_base()` (around line 34) add
`pb = Pushbullet(config

[2016-08-03 00:21] GaelicGamer opened #112 "Compress Images for Faster Map Loads"
Been doing some testing, and after throwing the images through some PNGGauntlet Compression, I've experienced much better load times of the map when rendering a large number of icons, I've made a pull request #118  with the new compressed images, additionally I made the normal icons just smaller versions of the icons in the larger-icons folder.

If you would prefer the other Icons I can compress t

[2016-08-03 00:27] GaelicGamer commented on #108
I'm not sure what your asking, do you mean the rendered size? Or the size of the files themselves?

[2016-08-03 00:29] ferazambuja commented on #108
Render size or how big they show on my map.

[2016-08-03 00:49] GaelicGamer commented on #108
The actual location where it creates the json that is fed to the webpage is lines 133-143 in web.py

[code]

If you wanted to use a different directory of images you would modify the static/icons/ line, it sounds like you have a different set you want to use.  As for the scaling on the webpage you would need to modify the correct .html files where it is adding the markers, this would be the map.ht

[2016-08-03 01:20] ferazambuja commented on #108
thanks 👍

[2016-08-03 01:20] #108 closed

[2016-08-03 01:39] Shentang opened #113 "Some workers are staying at 0% constantly"
Hello,

I've re-run pokeminer after trying the AHAAAA original map, but it seems that with 400 accounts I get some "dead' accounts that stay constantly at 0%:
 [W258: C1,P0,0%]        [W259: C1,P2,58%]
[W260: C1,P0,13%]       [W261: C1,P0,10%]       [W262: C1,P0,0%]        [W263: C1,P2,13%]
[W264: C1,P0,0%]        [W265: C1,P3,54%]       [W266: C1,P0,0%]

How can I debug/fix it?

[2016-08-03 02:51] subzerofun commented on #113
i know that has nothing to do with your problem, but how do all of you get hundreds of workers? how did you automate the account creation?

[2016-08-03 03:00] plague180 commented on #113
There are several scripts out there, I personally took https://github.com/jepayne1138/PTCAccount and heavily edited it to do what I wanted

[2016-08-03 04:12] inexion commented on #113
This is because they just changed the minimum scan refresh to 10s on the API side, I'm not sure wherein the code to change this

[2016-08-03 04:13] GaelicGamer commented on #108
Went ahead and going to add this while I cleanup some of the html

[2016-08-03 04:15] liquefry opened #114 "Server busy or offline errors and workers dying"
As some other issues have mentioned, workers seem to be dying off here.  My server suffers from a seperate error that noone else seems to have mentioned, and I suspect the two may be linked in some way.  I have dredged through my log files to try and diagnose.

Here's an extract of logs showing an error:

[2016-08-03 09:06:46,917][ worker-36][    INFO][L 184] Server seems to be busy or offline - t

[2016-08-03 04:15] GaelicGamer commented on #98
I've taken care of this in pull request #111 as well as some other changes for review.

[2016-08-03 04:17] inexion commented on #114
Pretty sure this is why, https://www.reddit.com/r/pokemongodev/comments/4vuijn/psa_minimum_scan_refresh_now_10s/, where do we tweak refresh scan?

[2016-08-03 04:21] GaelicGamer commented on #113
This is handled by line 189 in the worker.py file, I'm going to make this a config option real quick and then add it to my current pull request.

The line currently in case other pulls move it:
`            time.sleep(random.uniform(5, 7))`

[2016-08-03 04:22] kravock commented on #98
Has the google maps key been moved to config.py?

[2016-08-03 04:29] plague180 commented on #114
I was having the same issue, since I changed to 10 seconds I haven't had issues, however I don't think the one hour its been running since then is enough data, but before I was losing all workers in 15 min (ish)

[2016-08-03 04:43] GaelicGamer commented on #109
This makes me think you might be on a different python version, what version of python are you using?

[2016-08-03 04:44] GaelicGamer commented on #98
Ahh I forgot that part, I'll add that now

[2016-08-03 04:46] skarlath commented on #114
worker.py line 189

I set it to: time.sleep(random.uniform(10, 11))

[2016-08-03 04:48] plague180 commented on #114
I set it to: time.sleep(random.uniform(10, 12)) not that it really matters

[2016-08-03 04:57] kravock commented on #98
Yeah, may as well remove the line from credentials if it will use it from config.

[2016-08-03 04:59] GaelicGamer commented on #98
This is now part of pull request #111 correctly, on to the next one.

[2016-08-03 04:59] GaelicGamer commented on #113
This is now part of the config in pull request #111

[2016-08-03 05:02] GaelicGamer commented on #110
Considering you put this all together, and that I'm not sure @modrzew will want this, you might want to just make a pull request with this instead, that way if he doesn't want it in the main branch, you already have a fork with it.  Just seems a bit odd to make an issue with all the changes instead of a pull request.

[2016-08-03 05:05] GaelicGamer commented on #107
It sounds like it didn't install pgoapi from the `pip install -r requirements.txt` command, can you try to rerun it and post any errors that occur, and if none occur see if you can run it after that.

[2016-08-03 05:06] GaelicGamer commented on #114
I'm including an option in the config for the sleep timers, see pull #111

[2016-08-03 05:09] GaelicGamer commented on #61
I'll see if I can squeeze this into my current pull, not a fan of letting workers slack though, rather have less points per worker and quicker scans, hardware is cheap now-and-days.

[2016-08-03 05:12] GaelicGamer commented on #86
How many workers are each of you using?

[2016-08-03 05:13] GaelicGamer commented on #72
This can probably be closed since the change to using the radius instead of the lat/long gains.

[2016-08-03 05:16] GaelicGamer commented on #101
You will want to limit it to about 200-250 workers per running instance, if you need to use more, you may want to split the area between two copies of PokeMiner with their own configs, thats what I do currently and I'm running about 10 instances of 200 over most of the key areas of Florida.

[2016-08-03 05:17] GaelicGamer commented on #95
@ziofat or @modrzew either of you want to close this one, seems like it should be resolved.

[2016-08-03 05:20] GaelicGamer commented on #93
This should already be fixed, try pulling the latest master and see if it still occurs, if it does it sounds like the worker found no pokemon and the duplicate check is throwing the error due to an empty set in its where clause that includes the list of pokemon_ids.  See lines 123-130 of db.py:

[code]

[2016-08-03 05:26] ziofat commented on #95
I am closing this.

[2016-08-03 05:26] #95 closed

[2016-08-03 05:30] GaelicGamer commented on #15
Just a note on this, while we should definitely still store this, I've seen evidence that the pokemon encounter id is not unique, its extremely rare and if I have time I'll find the reddit post about it, but just something to keep in mind during your migrations.

[2016-08-03 05:34] ferazambuja commented on #15
There is little evidence right now and the only way to find out would is if this data is stored.

[2016-08-03 06:20] Aiyubi opened #115 "Get sleeptime between scans from the server"
In case you did not notice: minimum time between scans is now 10s
This is a setting that you can get from the api

[2016-08-03 06:29] GaelicGamer commented on #115
Can you link me the api call and I can implement it, sorry I would look myself but about to go to bed.

[2016-08-03 06:35] liquefry commented on #114
Is that line the only one to change?  I have made the change to my worker.py (used 10,12) but still have workers dying off.

[2016-08-03 06:49] Aiyubi commented on #115
in download settings request there should be a field get_map_objects_min_refresh_seconds
(did not test myself)

[2016-08-03 06:50] GaelicGamer opened #116 "Workers Button on the Webpage tries to draw circles at all points, often freezing the webpage"
Currently the show workers function calls out to get_points_per_worker() which returns all points and then iterates over them to draw circles.  When scanning over a large area, this will cause the webpage to freeze.

[2016-08-03 06:52] gatomiaurex opened #117 "Some workers getting exceptions?"
Well, what the tittle says, it shows "exception" and don't scan the area assigned to them.

![exception](https://cloud.githubusercontent.com/assets/20795984/17356350/31dbfcf0-5914-11e6-9797-6ddd4f80ddcf.png)

![scanpoints](https://cloud.githubusercontent.com/assets/20795984/17356409/9302ee8a-5914-11e6-9942-368b0a6251e6.png)

[2016-08-03 06:53] Aiyubi commented on #117
see the other reports - scan delay got changed again tonight to 10s between scans (up from 5s)

[2016-08-03 07:00] modrzew commented on #115
Added `SCAN_DELAY` in 2055388 as a hotfix. Please update your configs.

I'd want to get both scan delay and scan radius from API if possible, but... getting both of them from API will be hard at this point without big refactor. First of all, I'm not sure whether pgoapi exposes the settings while logging in. Second thing, right now points are divided between workers before any of them even logs in.

[2016-08-03 07:02] modrzew commented on #116
That's expected. You usually don't want to show worker circles all the time, only as you're setting up. I'm not sure whether there's any efficient way on displaying thousands of circles at the same time in Google Maps.

[2016-08-03 07:07] GaelicGamer commented on #116
Yeah neither am I, looking into it though just in case, might just be the case where a if(points > some reasonable number) would be useful.

[2016-08-03 07:17] gatomiaurex commented on #117
That's already accounted for, changed it to 10, 11, still have the problem, already tried different accounts for the workers getting the exceptions and i am still getting the exceptions.

[2016-08-03 07:22] modrzew commented on #87
Time to hidden decreases with time, expire timestamp is constant (there may be minor fluctuations ranging a few ms because of short delay between moment when you generate current timestamp and moment when you store value in the database, but I wrote workarounds for that). My question is: why would you want to store value that decreases over time in database? Especially when it contains exactly the

[2016-08-03 07:23] yeusimba commented on #117
how many workers are you running? Rumors are saying theres ip softbans running around for mass connections through one ip

[2016-08-03 07:23] modrzew commented on #110
There's an existing discussion about webhooks in #87. What I have in mind is an interface that's similiar to Observer pattern that will simply notify all plugged subscribers about new sightings, without making any part of "core" pokeminer dependant on any subscriber. Then it should be easy enough to write addons like webhooks, pushbullet etc.

[2016-08-03 07:29] gatomiaurex commented on #117
Man, I am dumb, seems like I repeated some logins on the config.py, it tried to login with the repeated info and it got a 15 minutes softban.

Thanks for the help, I have 63 workers running ATM.

[2016-08-03 07:36] GaelicGamer commented on #114
Hmmm, I'm using about 400 in one instance to test, not seeing it at that number, could I ask for a little more information on mariaDB, I'm not as familiar with it, just want to ensure that its nothing else because if it was Niantec or the amount of workers I would definitely been encountering it as I'm using a little over a thousand off of one machine atm.

[2016-08-03 07:40] GaelicGamer commented on #15
I currently store it in my private fork which I'm slowly trying to roll into the new public fork I made of this on github, I've got a few examples in there, but here is the reddit post as well just to add credence to what I said earlier:

https://www.reddit.com/r/pokemongodev/comments/4vazmk/encounter_id_is_not_unique/

[2016-08-03 07:45] liquefry commented on #114
mariadb is basically an open source fork of mysql.  It works the same (and when using it, you use mysql commands).  See https://seravo.fi/2015/10-reasons-to-migrate-to-mariadb-if-still-using-mysql.

[2016-08-03 07:49] #117 closed

[2016-08-03 08:51] modrzew commented on #107
Make sure that you use proper `pip` when installing. I strongly suggest to use [virtualenv](https://virtualenv.pypa.io/en/stable/) when installing packages. Or one of its flavours, I personally use [virtualenvwrapper](https://virtualenvwrapper.readthedocs.io/) in tandem with [pyenv](https://github.com/yyuu/pyenv).

[2016-08-03 08:51] #107 closed

[2016-08-03 09:10] Brideau commented on #87
Yeah the approach we're taking now is to just update the past record with the newest one if a duplicate is detected, but in some cases it could be useful to have that data. If you're trying to find out if a rare Pokemon spawns for a long time, for example, you could hunt for the max value of time to hidden for a single spawn. But that's not exactly a safe default if the user isn't fully aware of h

[2016-08-03 09:51] modrzew commented on #114
@liquefry I've been running 100 workers on v0.4.2 (which adds SCAN_DELAY) parameter and haven't seen that exception so far. Could you confirm?

[2016-08-03 09:53] schawsk opened #120 "Scan radius now 70m and scan delay is 10s"
In the last few days and hours, Niantic has changed how the client receives info about pokemon from the server.
First of all the sight radius decreased to 70m from 100m. From the readme I see that you still use the old 100m sight radius. Will you fix that soon? Can I adjust some options to use your algorithm already until then?

Secondly, A few days ago Niantic changed the scan delay from 1s to 5s

[2016-08-03 10:08] hador commented on #64
Pretty much, however on python3 logging is now broken (the formatting string isn't being interpreted at all). You should remove the style= argument in your logging.basicConfig statement.

[2016-08-03 10:12] adiran opened #121 "Exception from pgoapi"
Hey i recently installed your pokeminer but everytime i try to start it i get the following exception:

Traceback (most recent call last):
  File "worker.py", line 11, in <module>
    from pgoapi import (
  File "/usr/lib64/python2.7/site-packages/pgoapi/__init__.py", line 50, in <module>
    from pgoapi.pgoapi import PGoApi
  File "/usr/lib64/python2.7/site-packages/pgoapi/pgoapi.py", line 34, in

[2016-08-03 10:20] liquefry commented on #114
Thanks for the fix.  It seems to have reduced the problem but I'm still getting timeout errors at a lower frequency (every 5 mins or so), and losing a worker during each timeout.  I set the delay to 10s initially and then 15s with timeouts / workers dropping off as follows:
![image](https://cloud.githubusercontent.com/assets/4584269/17362045/ab6f97be-59b6-11e6-9cda-90ea4323097b.png)

The rise at 4

[2016-08-03 10:28] modrzew commented on #120
Please check out [releases page](https://github.com/modrzew/pokeminer/releases/tag/v0.4.2) before opening an issue.

[2016-08-03 10:28] #120 closed

[2016-08-03 10:37] Kostronor commented on #64
I had a fix for that, you have to change the format character. I'll create a pr

[2016-08-03 10:39] adiran commented on #121
i saw there is an closed issue with the same problem https://github.com/modrzew/pokeminer/issues/92

first i thought that wouldn't wokr because i already had protobuf 3 but i only hat installed protobuf 3.0.0b3. When i updated to the stable version of protobuf 3 then everythin works

[2016-08-03 10:39] #121 closed

[2016-08-03 10:54] liquefry commented on #103
That suggestion is not exactly the same - I was hoping to turn off points rather than workers.   My issue is following a meandering coastline rather than mapping multiple grids, would be great if we could just toggle individual points.

[2016-08-03 11:04] Sigi-cz commented on #115
maybe you can log in one worker, get the settings, and then after initialisation is done log in all workers.

[2016-08-03 11:07] Sigi-cz commented on #116
maybe only draw the circles at the border of area assigned to the worker.

[2016-08-03 11:18] Aiyubi commented on #116
@Sigi-cz one ot the goals is so you can check if you got holes in your grid. And you can not see holes if you just got the border ones

[2016-08-03 11:24] modrzew commented on #116
@GaelicGamer I think "some reasonable number" is implicitly 90 with 10s limit (was 180 for 5s limit) :) Basically it's the amount of points each worker needs to go over in order to finish a cycle. If cycle finishes under 15 minutes, then no spawn should be missed. So you want to have less than 90 points per cycle.

[2016-08-03 11:44] Pepejson opened #123 "[Suggestion]7 second scan delay instead of 10 seconds"
According to that https://www.reddit.com/r/pokemongodev/comments/4vxseb/psa_7_seconds_scan_delay_is_enough/
you can change it to 7 seconds or maybe for safety 8 seconds. Always 2 seconds faster than before! :P

[2016-08-03 12:49] liquefry commented on #114
Going to bed with server running, but preliminary results from reinstalling the git (without a fresh database) show the same problem still.  The decay is less pronounced though.
![image](https://cloud.githubusercontent.com/assets/4584269/17366009/4fe30d84-59cc-11e6-8513-071287c6af50.png)

For information, I'm checking active workers by the number of [info] lines attached to the worker in the log f

[2016-08-03 13:10] Aiyubi commented on #123
as someone else commented in the redditpost it is not always enough to take 10.

If I take 11 I'm getting the best results myself :(

[2016-08-03 13:30] Aiyubi opened #124 "[Suggestion] answer to "how many workers will I need?" for the README"
Posting this here first so someone else can check my math first.

**For rectangular areas that have optimal distances:**
[code]

**How come this correction factor?**
overlap_area (last formular): http://mathworld.wolfram.com/Circle-CircleIntersection.html
devided by 2 because every overlap belongs to 2 circles

Some example calculation:
[code]
->96 workers (best some more to account calculation an

[2016-08-03 14:31] #72 closed

[2016-08-03 15:38] GaelicGamer commented on #116
I meant in total, the reason it was hanging was I was running an instance of 400 workers at 115 a piece, resulting in a total of 46,000 circles that would have needed to be drawn, so I was thinking a check on the points count and if its greater than some reasonable total, just not draw the circles.

Actually the more I think about this, the more I'd like to make it so you can just show particular

[2016-08-03 15:47] GaelicGamer commented on #123
This is in the config now, you can just modify the config to whatever value you want.

The setting is SCAN_DELAY

[2016-08-03 15:56] Aiyubi opened #125 "[BUG] Error with lat/lon gain"
Case:
lat1 = 12.000
lat2= 12.005
latgain = 0.001

With those settings the algorithm creates points for non existant workers

[2016-08-03 16:05] Persi2 opened #126 "Worker.py keeps crashing"
It crashes after a few minutes altough it doesn't have so many workers. Not showing any error except this one once :

[2016-08-03 16:38] Aiyubi commented on #109
@GaelicGamer you can see he has python 2.7 in the later filepathes

@Varnsen please try the following:
apt-get install python-dev python-setuptools

[2016-08-03 16:56] Varnsen commented on #109
I just checked my Python version:

[code]

We're looking at updating to 2.7.11 later on today, for PokeAlarm for our other map, and we can see if that fixes it.

Just ran the `apt-get install python-dev python-setuptools` command, judging by the response it did something.
Running it a second time confirmed:
[code]

Then when I attempted to run worker and the webserver:

[code]

Seems to be throwin

[2016-08-03 17:16] Aiyubi commented on #126
the whole app crashes?
if yes: can you start it this way and wait until it crashes?
python worker.py 2> exceptions.log
After it crashed, you have a file exceptions.log that you can send here please

[2016-08-03 17:20] theresthatguy commented on #124
This is very helpful. Thank you.

[2016-08-03 17:20] ferazambuja commented on #107
Will try those thanks. Since I'm the only one having this non-issue, here is the report of it for future reference if needed. It just runs fine.
Here is the message from pip (2.7):
[code]
pip3.5:
[code]

[2016-08-03 17:34] ferazambuja commented on #15
Do you mind sharing how you implemented? I got stuck with encoding the encounter_ID to base64 or something else. However was just a few lines on db.py I believe.
It's the only reason i'm not using it.

[2016-08-03 17:43] modrzew commented on #125
Are you talking about config's LAT_GAIN/LON_GAIN, or how it's calculated based on SCAN_RADIUS?

[2016-08-03 17:59] Aiyubi commented on #125
@modrzew rectangular grid with lat gain set by yourself. If lat2-lat= n *latgain with n being a natural number.

For this case utils.get_points_per_worker() gives an error cause it trys to
points[worker_no].append((lat, lon))
on more worker_no than calculated

[2016-08-03 18:02] Persi2 commented on #126
It says that python has stopped working but the file is empty.

[2016-08-03 18:24] modrzew commented on #126
How many workers do you have?
Are you using system Python, or are you inside virtualenv with clean Python installation?

[2016-08-03 18:26] modrzew commented on #125
Both rectangular grid and lat/lon gain parameters are deprecated since v0.4.2 which introduced hexagonal grid and SCAN_RADIUS.

[2016-08-03 18:28] NCDKorrigan commented on #126
I also have the "python has stopped working" problem. (windows, system python, i will try ubuntu tomorrow).
With 20 workers it usually works for long time (a day?). With 80 workers it crashes within an hour or two.

[2016-08-03 18:33] Eskof commented on #126
188 workers here, its also crashing often =(

[2016-08-03 18:39] GaelicGamer commented on #15
I just have it as a varchar(40) atm as I use a lot of my data with pokelyzer currently and implement most of that schema as well as a few extra tables for stuff I wanted (like history of gym owners, and history of a pokestop being lured)

I intend to hammer it all down to a nice schema at some point as right now I'm pretty sure there are a few indexes I have that are not used.

[2016-08-03 19:05] paul30001 opened #127 "Cannot find command 'git'"
I've used the previous versions of the Pokeminer and they worked fine, but with 0.4.0+ when I run
pip install -r requirements.txt
I get the following error. I have tried to mess around with it for a few hours now, but I don't really know what I'm doing and it doesn't seem to wanna fix itself :) Please let me know what the problem is,
Thanks guys!

`C:\Users\paulf\Desktop\pokeminer-0.4.2>pip instal

[2016-08-03 19:07] Persi2 commented on #126
Less than 100 workers, system python, windows.
It can crash in less than 15 min with no error displayed.

[2016-08-03 19:18] Aiyubi commented on #124
And now a try for *hexagonal* (same link as above):
overlap_area = (pi - 3/2*sqrt(3) *2) * 2
overlap_correction_factor ~ 1.17

*Results:*
numer_of_workers = (pi * radius²) /( pi * 70m²) * 1.17 * 10s / (15*60s) = (radius_in_km)² * 2.65

*Example:*
a radius of 5.5km is around 95km² and with the formular above would be ~80 workers
So we now have 80 instead of 95 workers cause of the reduced overlap.

[2016-08-03 19:27] Aiyubi commented on #125
no if you are planning to remove rectangular grid you are right - then this bug is closed

[2016-08-03 19:27] #125 closed

[2016-08-03 19:29] Aiyubi commented on #127
you have to have git in you windows path

https://git-for-windows.github.io/

[2016-08-03 19:50] paul30001 commented on #127
Thank you!!! That fixed it! :)

[2016-08-03 19:51] Eskof commented on #124
How can I get "Area_to_check " value? Sorry for dumb question

ty

[2016-08-03 20:08] Duls1 opened #128 "/report Problem"
Hey,
if i try to /report (http://127.0.0.1:8000/report) i get this Error.
Anybody know whats wrong ???

![problem](https://cloud.githubusercontent.com/assets/20823868/17380186/32ddbfbe-59c6-11e6-8827-cb383547cc07.png)

[2016-08-03 20:08] #127 closed

[2016-08-03 20:18] paul30001 opened #129 "Pokeminer barely shows anything"
What am I doing wrong? I've been playing around with the values and I can't seem to find the best Scan Radius and Number of Cycles per Worker.

I'm not really sure what cycles mean in this case. What goes on in 1 cycle? Does the worker scan the same area in every cycle? Or is each cycle simply a piece of the area?
Anyway, here's my config. For some reason Web no Pokemon at all. Previous versions s

[2016-08-03 20:22] Brideau commented on #129
I'm seeing similar and I don't have any TRASH_IDS on. I'm trying to test the webhook but I can't detect so much as a pidgey in my downtown. I'm wondering if there was another API change?

[2016-08-03 20:27] paul30001 commented on #129
How often do they do those changes?

[2016-08-03 20:28] Eskof commented on #129
Same problem since ~15-20 mins.

[2016-08-03 20:29] paul30001 commented on #129
Oh-oh, well, I guess we'll be waiting for a fix :) because I'm not very good with code yet.

[2016-08-03 20:29] YonderGod commented on #129
PTC servers are having issues right now, but if this was happening before, I think it's because your scan radius should be 70m.

[2016-08-03 20:32] pokemonracer commented on #129
Same here, 300 workers - 0 pokemons in 30 minutes.

[2016-08-03 20:33] Brideau commented on #129
Likely related: https://www.reddit.com/r/pokemongodev/comments/4w0mtr/getting_0_pokemon_upserted_in_last_few_minutes/

[2016-08-03 20:48] real8787 commented on #129
API changes from Niantic.

[2016-08-03 20:48] Brideau commented on #129
I'm seeing someone in that Reddit thread posting about "MapObjects in API changed". I haven't programmed anything to read the API directly. Anyone know what that refers to?

[2016-08-03 21:04] Glennvd commented on #128
Are you sure you have
REPORT_SINCE = datetime(2016, 7, 29)
In your config.py?

[2016-08-03 21:10] Agnalam opened #130 "When I type "python worker.py" I get an Import Error"
When I type "python worker.py" in the command prompt I get the following text

Can anyone help me out?

[2016-08-03 21:21] metawurx commented on #130
The error tells you it can't find the required config file.
Did you rename config.py.example to config.py ?

[2016-08-03 21:26] Agnalam commented on #130
Yes, config.py is named as such and it is a notepad file. However, in the folder its file type is listed as an "EXAMPLE File" even though it opens up with notepad.

[2016-08-03 21:30] Aiyubi commented on #130
you should set your OS to always show file endings.

[2016-08-03 21:31] metawurx commented on #130
Yeah sounds like you have file extensions hidden.

[2016-08-03 21:39] Agnalam commented on #130
You were right. My OS was hiding file extensions. Thank you.

[2016-08-03 21:50] #130 closed

[2016-08-04 01:12] GaelicGamer commented on #129
Yeah, the response package from the API changed and were working on decoding the new format and where what data is what, going to probably be a couple more hours till the python API projects we rely on are updated.

[2016-08-04 02:53] Noctem commented on #129
@GaelicGamer I wouldn't expect a fix that quickly, the changes are more difficult than simple response formatting. The requests are being signed or hashed, and that will have to be reverse engineered for 3rd party clients to mimic.

[2016-08-04 09:03] davide1085 opened #131 "Google Login process failed"
Hi,
I did a git clone today to the latest version, I have some problem with login..
With older version the login work but with this version I get **"Google Login failed"**

[root@cod pokeminer]# tail -f poke-scan.log  |grep Login
[2016-08-04 10:52:30,693][ worker-21][    INFO][L  54] Google Login failed.
[2016-08-04 10:52:30,693][ worker-21][    INFO][L 111] Login process failed
[2016-08-04 10:52:

[2016-08-04 09:40] captcho commented on #84
@pokemonracer do you solved the problem?

[2016-08-04 11:26] #123 closed

[2016-08-04 14:39] GaelicGamer commented on #129
@Noctem I know, I've was doing my part to try to figure out the hashing method last night for over four hours, I was simply hoping that given what we've seen of Niantec so far that they would have done something simple like a auth key change or the like, instead we're all trying to figure out the unknown6 bytes etc.

[2016-08-04 15:08] Nurech commented on #128
Same issue. REPORT_SINCE = (2016, 7, 29) is present.

[2016-08-04 17:01] YonderGod commented on #131
Everything is down right now due to API changes.

[2016-08-04 17:34] Nurech opened #132 "/report error"
Can't solve the issue... Please help! Thanks! :)

![capture](https://cloud.githubusercontent.com/assets/20840114/17411917/c88dff4e-5a82-11e6-9c02-b60bd1598291.PNG)

[2016-08-04 21:36] Duls1 commented on #128
@Glennvd thx you helped me... now it works.

I didn´t had the "datetime" in that line
-> REPORT_SINCE = datetime(2016, 7, 29)
and this line was also missing
-> # coding: utf-8 from datetime import datetime

With that config it works now:

 # coding: utf-8from datetime import datetime

DB_ENGINE = 'sqlite:///db.sqlite'
MAP_START = (##.######, #.######)
MAP_END = (##.######, #.######)
GRID = (1, 3)

[2016-08-05 20:19] modrzew commented on #132
Do you have any sightings in the database at all? If you started collecting data yesterday, then not likely as API has been broken for 2 days now.

[2016-08-05 21:11] Nurech commented on #132
That's probably the issue. Cheers!

[2016-08-07 03:53] subzerofun opened #134 "New API implementation"
Hey since the new pgoapi (https://github.com/tejado/pgoapi) is out – does worker.py also need an update?

I´ve got the PokemonGoMap project running and receiving valid responses, but pokeminer doesn´t register pokemon encounters.

My setup has ~40 workers, but none of them report anything. I also see no errors in worker.log (successfull logins, all workers running).

[2016-08-07 05:20] kravock commented on #134
I'm sure this will get merged in shortly.

[2016-08-07 06:49] real8787 commented on #134
Yes, we need this fix :)

[2016-08-07 10:50] Aiyubi commented on #134
#135 is trying to fix this

[2016-08-07 13:18] real8787 commented on #134
Any ETA on this?

[2016-08-07 14:11] Aiyubi commented on #134
@real8787 you can just get the pullrequest if you wanna try it now

[2016-08-07 14:39] real8787 commented on #134
Tried it, didnt work :/

[2016-08-07 15:43] modrzew commented on #134
Changes pushed to master and released as v0.4.3 - please check it out.

[2016-08-07 15:43] #134 closed

[2016-08-07 16:11] Vashiru commented on #132
Issue still seems to be occurring, even with the bumped api. Sightings table is indeed empty.

[2016-08-07 16:31] #132 closed

[2016-08-07 16:39] Foxilein opened #136 "'you need an encryption library'"
How can I do that? I googled a bit and didn't find any good tutorial.

I'm pretty new to python - can someone help?

Thanks for the update tho - love to run the Map with 100+ workers ;)

[2016-08-07 16:46] Aiyubi commented on #136
check the hints at #135

[2016-08-07 16:55] nern9 opened #137 "IndexError: list index out of range"
![crash](https://cloud.githubusercontent.com/assets/7233855/17463840/54127ea8-5c8d-11e6-89e0-2d4cf39de6bb.PNG)

Not sure what is causing this issue.... anyone have an idea? it does it with every account that i put in there.

[2016-08-07 16:57] DavidSelem opened #138 "Use larger-icons on some pokemons"
Used to just copy and rewrite the images from icons folder using the icons from larger-icons, but now the icon size is fixed at newmap.html ( iconSize: [30, 30],)

I commented that line but the icons are so inaccurate, specially the larger icons

Could there be a new config line (like trash_id) to specify which pokemons are "important" so they are bigger than usual?

[2016-08-07 16:59] Vashiru commented on #137
I've cloned a clean install, running into the same issue. Mac OS X.

[2016-08-07 17:16] Foxilein commented on #136
Oh. Thanks!

[2016-08-07 17:32] modrzew commented on #137
How long have you been running it for? Please run it for at least 5 minutes and then try again.

[2016-08-07 17:32] #131 closed

[2016-08-07 17:32] Brewfasa opened #139 "Sqlite error"
I'm getting a error when i try to run the workers, it says something about missing the sighting table?
I'm currently running the bot with the encrypt32bit.dll file but i seem to get stuck at this point...

`[2016-08-07 19:27:52,465][  worker-2][    INFO][L 174] Login process completed
[2016-08-07 19:27:52,465][  worker-2][    INFO][L 159] Visiting point 0 (52.041639678027465 4.4705145809797715)
[2

[2016-08-07 17:33] modrzew commented on #129
Fixed (hopefully) in v0.4.3.

[2016-08-07 17:34] modrzew commented on #139
https://github.com/modrzew/pokeminer#setting-up

[2016-08-07 17:34] #139 closed

[2016-08-07 17:34] #128 closed

[2016-08-07 17:34] #129 closed

[2016-08-07 17:37] modrzew commented on #138
There's no such config yet. You'd need to create a "class" similar to PokemonIcon with different properties (like size), and then place similar if in `PokemonMarker`.

[2016-08-07 17:38] nern9 commented on #137
@modrzew its been on for about 20 minutes now, but nothing has appeared on the map, and it says exception next to all of the workers in the console

[2016-08-07 17:41] Vashiru commented on #137
Yeah same, got some exceptions at first but they recovered. Others ended up as KILLED. Sightings table is empty. Running on the fort branch.

[2016-08-07 17:53] nern9 commented on #137
I was running on the master branch, but i switched over to fort and its still doing the same thing.

[2016-08-07 17:56] DavidSelem commented on #138
I wrote this:
var BigPokemonIcon = L.Icon.extend({
            options: {
               iconSize: [80, 60],
                popupAnchor: [0, -16]
            }
        });

if (raw.pokemon_id == 10){
            var bigicon = new BigPokemonIcon({iconUrl: '/static/larger-icons/' + raw.pokemon_id + '.png'});
		}

Is raw.pokemon_id the ideal way to get the ID ?
I know I need to compare IDs to get wo

[2016-08-07 18:03] Aiyubi commented on #137
to all the people reporting no pokemon seen: have you checked the worker.log ?
and did you get the .so file (or your operating systems variation)?

[2016-08-07 18:06] modrzew commented on #138
Yeah, raw.pokemon_id contains Pokemon number. Then just use it in a marker:

[code]

[2016-08-07 18:08] nern9 commented on #137
I think i might have forgotten to do that. where can i grab a copy of the .so file?

[2016-08-07 18:10] Zerotask opened #141 "Database error"
I got the following errors

  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2000, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1991, in wsgi_app
    response = self.make_response(self.handle_exception(e))
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1567, in handle_exception

[2016-08-07 18:15] Zerotask commented on #141
Fixed with: https://www.reddit.com/r/pokemongodev/comments/4tz66s/pokeminer_your_individual_pokemon_locations/d5lovb6.

[2016-08-07 18:15] #141 closed

[2016-08-07 18:17] nern9 commented on #137
Looks like theres several different errors that pop up in the log
`Traceback (most recent call last):
  File "C:\Users\server\Desktop\pokeminer-master\worker.py", line 129, in run
    self.main()
  File "C:\Users\server\Desktop\pokeminer-master\worker.py", line 170, in main
    map_objects = response_dict['responses'].get('GET_MAP_OBJECTS', {})
TypeError: sequence index must be integer, not 'str'`

[2016-08-07 18:22] Zerotask opened #142 "Worker exceptions"
I instantly get exceptions when starting worker.py.

[2016-08-07 18:19:01,082][  worker-5][    INFO][L 130] Starting RPC login sequence (app simulation)
[2016-08-07 18:19:01,083][  worker-5][    INFO][L 280] Creating a new request...
[2016-08-07 18:19:01,083][  worker-3][    INFO][L 140] PTC Access Token successfully retrieved.
[2016-08-07 18:19:01,084][  worker-5][    INFO][L 289] Adding 'GET_PLA

[2016-08-07 18:24] DavidSelem commented on #138
Done, thank you! http://i.imgur.com/pydsHmR.png

[2016-08-07 18:24] Aiyubi commented on #142
"invalid ELF header" <- thats the problem
you are using the wrong version of the encryption libary. Get the one fitting your operating system and architecture. See #135 for more hints

[2016-08-07 18:33] Vashiru commented on #137
@Aiyubi I compiled a libencrypt.so myself from another repo. After placing that into the folder I no longer got the error that I needed to install libencrypt.so so I'd assume its working correctly.

When I look at the worker.log there are no fatal errors, only the occasional exception which I mentioned earlier. That exception is:

[code]

[2016-08-07 18:40] Zerotask commented on #142
Thanks, that problem is solved now. Now I get the error:

Traceback (most recent call last):
  File "worker.py", line 130, in run
    self.main()
  File "worker.py", line 167, in main
    cell_id=cell_ids
  File "/bin/pokeminer/src/pgoapi/pgoapi/pgoapi.py", line 122, in function
    return request.call()
  File "/bin/pokeminer/src/pgoapi/pgoapi/pgoapi.py", line 220, in call
    response = request.

[2016-08-07 18:42] Aiyubi commented on #142
Your scan delay should be a minimum of 10 seconds

[2016-08-07 18:46] Zerotask commented on #142
Actually I didn't change the value. I tried it with 12 accounts now. it is working but 1-3 worker throw out a exception for few seconds, then it disappears.

Traceback (most recent call last):
  File "worker.py", line 130, in run
    self.main()
  File "worker.py", line 172, in main
    map_objects = response_dict['responses'].get('GET_MAP_OBJECTS', {})
TypeError: sequence index must be integer, n

[2016-08-07 18:55] wgronewold opened #143 "windows exception after running worker"
![worker](https://cloud.githubusercontent.com/assets/2584955/17464500/dd687e4c-5ca5-11e6-8eac-7a6f2f0ea982.png)

Getting this issue after downloading the encrypt dlls from here(believe this was suggested in one of the previous issue threads):
https://github.com/PokemonGoMap/PokemonGo-Map/tree/develop/pogom

After running worker.py I get a windows popup saying the dll is not valid or it has an erro

[2016-08-07 19:05] Persi2 commented on #126
It also happens that the worker stopped working without crashing/exiting.

[2016-08-07 19:48] YonderGod commented on #143
Did you change in config.py to
`ENCRYPT_PATH = './encrypt.dll'`
(with encrypt.dll in the same folder)

[2016-08-07 19:56] YonderGod commented on #142
try a slower scan delay, like 11 or 12.
*disclaimer: I'm not a dev, I don't know if this is the _correct_ way to solve this error, but it works.

[2016-08-07 20:06] Vashiru commented on #142
@Zerotask The issue you describe in your last post is also mentioned in #137

[2016-08-07 20:06] wgronewold commented on #143
`# coding: utf-8
from datetime import datetime

DB_ENGINE = 'sqlite:///db.sqlite'
ENCRYPT_PATH = './encrypt64bit.dll'

AREA_NAME = u'Wrocław'
MAP_START = (redacted,redacted)
MAP_END = (redacted,redacted)
GRID = (1, 1)  # row, column
CYCLES_PER_WORKER = 1
SCAN_DELAY = 10  # seconds
#ENCRYPT = './libencrypt.so' # external encryption library

SCAN_RADIUS = 70  # metres

ACCOUNTS = [
    ('redacted',

[2016-08-07 20:26] theresthatguy opened #145 "Warning: Data truncated for column 'lon' at row 1 cursor.execute(statement, parameters)"
I finally decided it was time to use something other than sqlite. I opted for Mariadb since it can be used as a drop-in for MySQL. I am getting this error when starting worker.py

`./worker.sh
/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py:450: Warning: Data truncated for column 'lon' at row 1
  cursor.execute(statement, parameters)`

[2016-08-07 20:44] Aiyubi commented on #143
reading a bit I came to a possible reason for the problem: 32 bit python on a 64 bit machine trying to execute an external file. Resulting in a bit error no mater what.

before I recommend to try and get 64-bit python. Can you try and change your path to:
`ENCRYPT_PATH = 'encrypt64bit.dll'`
(without the dot slash)

[2016-08-07 20:46] Aiyubi commented on #145
#52 may give you some hints how to set everything up

[2016-08-07 21:02] wgronewold commented on #143
Thanks YonderGod and Aiyubi. I will try that quick, and let you guys know what happens.

[2016-08-07 21:13] foozok commented on #142
Im getting this! how does one fix this?

Traceback (most recent call last):
  File "C:\Users\k\Desktop\pokeminer-0.4.3\worker.py", line 101, in run
    password=config.ACCOUNTS[self.worker_no][1],
  File "c:\users\k\desktop\pokeminer-0.4.3\src\pgoapi\pgoapi\pgoapi.py", line 164, in login
    response = self.app_simulation_login()
  File "c:\users\k\desktop\pokeminer-0.4.3\src\pgoapi\pgoapi\pgoapi.

[2016-08-07 21:20] wgronewold commented on #143
No dice. I get the same error. I'm not having too much with the libs from:
https://github.com/PokemonGoMap/PokemonGo-Map/tree/develop/pogom

I also tried setting up the miner on a ubuntu machine and I used both libencrypt-linux-x86-32.so and libencrypt-linux-x86-64.so and I get the invalid ELF header. [#142](https://github.com/modrzew/pokeminer/issues/142)

I know that is sort of a separate issue,

[2016-08-07 22:02] YonderGod commented on #142
@foozok Start your own thread, don't hijack someone else's with an unrelated issue.

[2016-08-07 22:02] theresthatguy commented on #145
That sure would have been really helpful earlier. The follow has fixed this error for me.

`alter table sightings modify column lat varchar(128);
alter table sightings modify column lon varchar(128);`

[2016-08-07 23:14] #145 closed

[2016-08-08 01:57] steelsoldat opened #146 "404 on map"
When I alunch web.py it starts 404'ing on all /search and /raw_data GET requests, i.e.

`127.0.0.1 - - [07/Aug/2016 21:52:48] "GET /search_control HTTP/1.1" 404 -
127.0.0.1 - - [07/Aug/2016 21:52:48] "GET /raw_data?pokemon=true&pokestops=true&gyms=true&scanned=true&swLat=28&swLng=-9&neLat=29&neLng=-8 HTTP/1.1" 404 -`

The map will load, but no pokemon, stats, or workers panel shows up. I can look

[2016-08-08 02:00] steelsoldat commented on #146
Ended up having something else using the port, sorry

[2016-08-08 02:00] #146 closed

[2016-08-08 03:54] MacxFlash opened #147 "Where to put encrypt64bit.dll?"
Im getting the following error

Traceback (most recent call last):
  File "worker.py", line 347, in <module>
    spawn_workers(workers, status_bar=args.status_bar)
  File "worker.py", line 281, in spawn_workers
    start_worker(worker_no, points[worker_no])
  File "worker.py", line 269, in start_worker
    points=points
  File "worker.py", line 84, in __init__
    self.api.activate_signature(confi

[2016-08-08 05:34] YonderGod commented on #147
in the main folder, and edit your config to
`ENCRYPT_PATH = './encrypt64bit.dll'`

[2016-08-08 06:33] simonwahlstrom opened #148 "Banned?"
Started getting these exceptions:

`[2016-08-08 06:25:11,859][  worker-6][   ERROR][L 119] A wild exception appeared!
Traceback (most recent call last):
  File "worker.py", line 101, in run
    password=config.ACCOUNTS[self.worker_no][1],
  File "/home/ubuntu/workspace/newpoke/pokeminer/src/pgoapi/pgoapi/pgoapi.py", line 164, in login
    response = self.app_simulation_login()
  File "/home/ubuntu

[2016-08-08 06:33] MacxFlash commented on #147
Im still getting the same error.
config is
ENCRYPT_PATH = './encrypt64bit.dll'
and encrypt64bit.dll is located in main folder pokeminer-master

[2016-08-08 06:54] Aiyubi commented on #148
guessing ptc accounts:
* are they new? if so you need to accept the tos
* did you activate them? they need to be activated within 48h after creation

[2016-08-08 07:08] simonwahlstrom commented on #148
I created them on the 3rd of August. All of them have been activated.

I can still log on to every account without any problem. No messages saying that they have been banned or so.

I have also tried using Google accounts but I have the same problem there.

[2016-08-08 09:41] paul30001 opened #150 "Encryption library disaster!"
In the latest release modrzew said "you need an encryption library compatible with your OS."
I've been scouring the "Issues" section and other places to figure it out, but I feel like I'm going crazy.
I don't understand how to install this encryption library and I've tried different ones - doesn't work.

Also, I'm confused about the .so vs the .dll.

Someone, please make a step by step guide how t

[2016-08-08 10:43] #150 closed

[2016-08-08 10:48] paul30001 opened #151 "Pokeminer shows way less Pokemon than before! :("
I'm using 110 workers on about 9 sq miles, which is probably overkill, which is exactly why I'm shocked that I'm only seeing a few Pokemon on the map, and chunks of the map are missing, even though all workers seem to be working.
Here's part of my config, is this good for 9-10 sq miles? If so, why are only few Pokemon showing up, I don't even have very many TRASH_IDS set up :(
`MAP_START = (46.080

[2016-08-08 11:12] paul30001 opened #152 "How can I view all of the Pokemon in the Database?"
I would appreciate if someone could tell me how I can view ALL previous spawns in the DB for ALL Pokemon, not just the active ones.
I realize that the map would probably not be readable, but I want to give it a shot.
Also, is there a way to just show all previous spawns of a certain Pokemon from the DB, instead of ALL of them?

I believe this was the original purpose of the Pokeminer, rather than

[2016-08-08 11:46] photex12 opened #153 "Setup error"
I get the following error when trying so setup this project:

  Error [Error 2] The system cannot find the file specified while executing command git clone -q https://github.com/keyphact/pgoapi.git "C:\Users\Iton\Desktop\New folder (2)\src\pgoapi"
Cannot find command 'git'

[2016-08-08 11:55] Innenseide commented on #152
I'm not sure I understand your question... you just have to access those reports in your browser. If the live map is at 127.0.0.1:5000, the report is at 127.0.0.1:5000/report

[2016-08-08 12:01] nhumber opened #154 "Gyms - Fort Branch"
First off i know this isn't the right place, But i must say that this has made the playing experience incredible for 100's of players in my home town, I've been using your maps since release, sometimes i follow along with your WIP and move around from your release branch to dev stuff depending on how i feel at the time.

Getting up and going again yesterday was a great feeling so Thank You, from a

[2016-08-08 12:04] nhumber commented on #153
you need to install git for windows first, probably python also.
could also need to setup PATH attributes in windows if you still cant find the specified command after install git

those were all the hurdles i faced running python stuff on windows for the first time.

[2016-08-08 12:07] paul30001 commented on #152
omg, I love you! no homo haha
That's what I needed, now I can see the report!!!
Thank you!

[2016-08-08 12:12] Innenseide commented on #151
I didn't test it myself, but I've seen reports on reddit that there seems to be a limit of 60 (or 50?) accounts per IP. Surpassing it could supposedly lead to empty results and/or bans.

Again, just second hand information, but you may want to try reducing your number of workers. I'm *comfortably* covering 23 sq km with 35 workers, which happens to be around 8.5 sq miles or so. What are you trying

[2016-08-08 12:13] photex12 commented on #153
OMG haha thank you.
Unfortunately this end up in the following error:

Command "c:\python27\python.exe -u -c "import setuptools, tokenize;__file__='c:\\users\\iton\\appdata\\local\\temp\\pip-build-ibqyay\\sqlalchemy\\setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record c:\users\iton\appdata\local\temp\pip-ypxvmt-record\

[2016-08-08 12:16] PieterxJan commented on #151
Is there maybe some way to visualize what the workers have scanned and how long ago this happend? It would be a bit easier to finetune the amount of workers.

[2016-08-08 12:21] paul30001 commented on #151
Unfortunately, there's no way to visualize only what they have already scanned - but only the whole area to be scanned.

Innenseide, I will try that and report back.

[2016-08-08 12:23] Innenseide commented on #151
@PieterxJan I don't know of such a visualization, but the worker overview in your terminal will tell you how many points your workers have to visit per cycle, and by multiplying that number with your `SCAN_DELAY` you'll find out how many seconds each worker is expected to take for a full scan of its area. In theory, anything up to 900 seconds should be fine to catch each spawn (because most Pokemo

[2016-08-08 12:39] Aiyubi commented on #151
The way scanning works is that it goes through each workers area slowly.

Did you already check your lat(lon gain? On your map bottom left you can see the workers area

if you check your report you see how big your area is in km² -> 1 worker per km² should be fine. Maybe a little more workers.

[2016-08-08 12:43] modrzew commented on #154
When did you update the branch? There was indeed an issue with showing the oldest entry in the database instead of the newest, but it should have been fixed in 1947484a1802536cc7e28379ef45c6946c4e696a.

Also thanks for the warm words :smiley:

[2016-08-08 12:43] PieterxJan commented on #151
@Aiyubi @Innenseide Thanks for the response. I figured it out how I could debug this the best and I ran the worker.py next to the web.py. In that way, everytime I've changed the config.py file with some other values, I could see the changes in the web-display.

I'm now scanning ~26.25 points per cycle. But will the workers automatically reset and start over again until I stop the worker.py?

Thank

[2016-08-08 12:45] Aiyubi commented on #151
@PieterxJan yes they will restart with some break between scans
Also I recommend a lower value for CYCLES_PER_WORKER

[2016-08-08 12:46] #148 closed

[2016-08-08 12:48] modrzew commented on #147
Did you upgrade external dependencies? (`pip install --upgrade -r requirements.txt`)

[2016-08-08 12:54] paul30001 commented on #152
What about the report for single species??
"Single species report, available at /report/<pokemon_id>"
I tried typing in stuff like
127.0.0.1:5000/report/<16>
and other things like that, but it doesn't seem to work.
What's the proper way to write that address?

[2016-08-08 12:55] paul30001 commented on #152
What about the report for single species??
"Single species report, available at /report/'<'pokemon_id'>'"
I tried typing in stuff like
127.0.0.1:5000/report/<16>
and other things like that, but it doesn't seem to work.
What's the proper way to write that address?

[2016-08-08 12:56] PieterxJan commented on #151
@Aiyubi I already have CYCLES_PER_WORKER set on 1. Why would you want to have a lower value there? I can't seem to understand what it does :|

[2016-08-08 13:06] Aiyubi commented on #151
@PieterxJan CYCLES_PER_WORKER = how many times should a worker scan its area before it restarts. Its login lasts only a while so restarting is needed to refresh the login.

[2016-08-08 13:07] Aiyubi commented on #152
127.0.0.1:5000/report/16

[2016-08-08 13:25] PieterxJan commented on #151
@Aiyubi Thanks for the clarification 👍

[2016-08-08 13:36] PieterxJan opened #155 "Passing config variables"
As I'm trying to create something that dynamically changes the scanning area, I'm wondering if it's possible to pass the config-vars as parameters in the command line?

Something like:
```python worker.py --map-start="(12.3456, 14.5)" --map-end="(13.4567, 15.321)"```

[2016-08-08 14:22] photex12 commented on #153
I hardly dare asking but.....encrypt.dll.......I have been searching for 2 hours and I can nog seem te find it :(:( would someone please help me :$

[2016-08-08 14:35] nhumber commented on #154
I just made sure the above fix was added and still i see only old gym information.
anything i can do to check the DB?

[2016-08-08 15:26] even-allmighty commented on #14
Hi @modrzew , I know this issue is 10 days old.
But is there anything that speaks against using relative urls?
Because that would work behind a reverse proxy.

[2016-08-08 15:34] modrzew commented on #15
Added in v0.5.0.

[2016-08-08 15:34] #15 closed

[2016-08-08 15:37] photex12 opened #156 "WORKER EXCEPTION"
When running worker.py everything seems fine.
But after a few secconds this is what I see
![image](https://cloud.githubusercontent.com/assets/20722379/17485712/bc2fd1b4-5d8e-11e6-8add-8c62c886c80c.png)

Whats going wrong?

[2016-08-08 15:39] modrzew commented on #156
An exception happened!

Please check `worker.log` file.

[2016-08-08 15:40] modrzew commented on #154
`forts` was just merged to master and released as v0.5.0. Moreover, I confirmed on my phone that data on map is displayed correctly - all gyms were properly colored, had proper Pokemon and exact amount of prestige.

[2016-08-08 15:50] modrzew commented on #14
Hm, nothing in particular, it was just easier to use `/static/something` instead of `{{ some_flask_helper_for_getting_url('static/something') }}`, for example.

[2016-08-08 15:50] photex12 commented on #156
@modrzew
This is the error in the log

[2016-08-08 17:36:09,244][  worker-0][    INFO][L 265] Worker (re)starting up!
[2016-08-08 17:36:09,244][  worker-0][    INFO][L  50] pgoapi v1.1.7 - Copyright (c) 2016 tjado <https://github.com/tejado>
[2016-08-08 17:36:09,244][  worker-0][    INFO][L  50] Google User Login for: thijsevers1985@gmail.com
[2016-08-08 17:36:09,244][  worker-0][    INFO][L 788]

[2016-08-08 15:50] Aiyubi commented on #155
"dynamically changes the scanning area"
I think this will work against the goals of the pokeminer-project? Could you explain why you want this?

[2016-08-08 15:50] Kieken72 commented on #156
Can it be you are missing the Encrypt library? (dll)

[2016-08-08 15:51] photex12 commented on #156
@Kieken72 I'm afraid so.
Could you please help me as to how to get it?

[2016-08-08 15:55] Kieken72 commented on #156
@photex12 You can get the library for your system (Windows I assume) here -> https://github.com/PokemonGoMap/PokemonGo-Map/tree/develop/pogom choose the dll matching your python install (32/64bit).
Make sure your config file has this setting
`ENCRYPT_PATH = './{libname}.{extension}' # external encryption library`
and place your library in the folder where the config.py is!

[2016-08-08 15:58] Eskof commented on #124
Hello @Aiyubi  and thanks, I'm pretty noob with math. How may I calculate this with 2 coordinate?
Thanks

[2016-08-08 16:10] PieterxJan commented on #155
@Aiyubi In my app, I want to change the scanning area when I'm arriving at work. So the easiest way for me is to start the worker.py script with different parameters.

[2016-08-08 16:11] Aiyubi opened #157 "Unknown column 'sightings.encounter_id' in 'field list'""
Just updated to 0.5

`OperationalError: (_mysql_exceptions.OperationalError) (1054, "Unknown column 'sightings.encounter_id' in 'field list'") [SQL: u'SELECT sightings.id AS sightings_id, sightings.pokemon_id AS sightings_pokemon_id, sightings.spawn_id AS sightings_spawn_id, sightings.expire_timestamp AS sightings_expire_timestamp, sightings.encounter_id AS sightings_encounter_id, sightings.normal

[2016-08-08 16:14] Kieken72 opened #159 "Percentages are empty in gym.py"
`percentages[team.value] = (count.get(team.value) / len(forts)) * 100`
is returning 0
`print percentages #{0: 0, 1: 0, 2: 0, 3: 0}`

[2016-08-08 16:15] Aiyubi commented on #124
@Eskof your /report tells you how many km² your area has

[2016-08-08 16:22] #157 closed

[2016-08-08 16:22] Aiyubi commented on #157
found it in changelogs

[2016-08-08 17:01] even-allmighty commented on #14
To make it work I just set the baseURL in the templates to "window.location.href" which is the whole url.
Then you only have to remove the "/" in front of the appendix for the ajax urls:
$.get(baseURL + "config", function(response){
$.get(baseURL + "data", function(response){

Is there a case where this won't work?

[2016-08-08 17:24] joeker94 opened #160 "Exception"
Running on MacOSx and am getting this error message when running worker.py

I've downloaded the libencrpyt.so file but am unsure what to do with it.

[2016-08-08 18:18:36,747][  worker-8][    INFO][L  60] Google User Login successful.
[2016-08-08 18:18:36,748][  worker-8][    INFO][L  81] Request Google Access Token...
[2016-08-08 18:18:36,761][  worker-8][    INFO][L 788] Starting new HTTPS conne

[2016-08-08 17:34] Aiyubi opened #161 "UnicodeDecodeError"
trying to open /report

[code]

[2016-08-08 17:38] Aiyubi commented on #160
check the hints at #135

[2016-08-08 17:43] khag7 commented on #161
Same issue here.

[2016-08-08 17:47] Brideau commented on #87
@modrzew I just created a pull request with this addition: https://github.com/modrzew/pokeminer/pull/162

[2016-08-08 17:48] Innenseide commented on #161
+1 - I had the relevant commit in my fork before, same thing happened. Couldn't find a solution in my limited time.

[2016-08-08 17:54] subzerofun commented on #161
hey i have a fix:
1) make sure flask is up to date: `$ pip install --upgrade flask`
2) install unidecode: `$ pip install unidecode`
3) open web.py
between `# -*- coding: utf-8 -*-` and `from datetime import datetime`
paste this:
[code]
4) save and try to run
`python web.py --host 127.0.0.1 --port 8000` (or whatever localhost/port is)
again

5) please tell me if it works - this is my first time try

[2016-08-08 17:58] Innenseide commented on #161
@subzerofun this fixed it for me. Awesome!

[2016-08-08 18:01] khag7 commented on #161
another way to fix is to edit pokeminer/templates/report.html and remove the title attribute from any img tag (there are 4 total).

[2016-08-08 18:11] subzerofun commented on #161
ok this might be an easier solution. i however will nonetheless now open a bottle of the finest wine from my cellar and celebrate the day when for the first time i actually helped someone on github instead of just bulk downloading the hard work of other people.

Santé my short sighted friends, Santé! i will dedicate this glass to the greatest company in the world - AVIATO! :bowtie: :wine_glass:

[2016-08-08 18:21] subzerofun commented on #101
@thappy 1226 workers?? are you scanning area 51? how the hell is it even possible to run that many workers without getting banned? didn´t mean that as an offense - but that´s really a lot! do all the worker requests come from the same IP?

[2016-08-08 18:24] subzerofun commented on #161
pardon me, the greatest company in the world is of course [http://www.bachmanity.com/]

[2016-08-08 18:42] Innenseide opened #163 "IndexError: list index out of range"
[code]

Getting this all the time, started like 30 minutes after updating to 0.5 including updates to the db, updating requirements and adapting config.py. Any ideas?

[2016-08-08 18:42] Aiyubi commented on #161
okay got some debugging done - seems to be the pokemon names. Guess it's Nidoran. Will debug more.

[2016-08-08 18:55] MSkjel opened #164 "Exception when opening /report"
Getting this exception when trying to access the report. It has to do with my GMaps Key or something(Same line in the config, at least)

Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\flask\app.py", line 2000, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Python27\lib\site-packages\flask\app.py", line 1991, in wsgi_app
    response = self.make_r

[2016-08-08 18:55] Aiyubi commented on #163
as far as I can see this is an exception by the api: https://github.com/keyphact/pgoapi/issues/47

[2016-08-08 18:56] Aiyubi commented on #164
you did not bother to look 2 issues below yours? #161

[2016-08-08 18:59] #164 closed

[2016-08-08 19:01] Innenseide commented on #163
Thanks for referencing! Will have a look over there.

[2016-08-08 19:04] vDrag0n opened #165 "for migration to 0.5, is there a sql for the new tables for import into mysql?"
I've looked at the sql, and it seems it only changes the sightings table.  Is there one for the new tables forts and forts sightings?

[2016-08-08 19:05] Aiyubi commented on #165
check out the 0.5.0 release notes: https://github.com/modrzew/pokeminer/releases/tag/v0.5.0

[2016-08-08 19:37] vDrag0n commented on #165
This works for mysql too?

[2016-08-08 19:37] Aiyubi commented on #165
Did this for mysql, so yes

[2016-08-08 19:41] skiniemini opened #166 "Data too long for column"
I noticed an issue with pokemon getting stored in the database and also the miniscual amount showing up on the map. I keep getting these errors:

[code]

Can I fix this by just manually adjusting the structure of that column? (Raising the length/values)

Or is there something in a config file somewhere that needs to be changed?

[2016-08-08 19:42] Aiyubi commented on #166
read the update notes: https://github.com/modrzew/pokeminer/releases/tag/v0.5.0

[2016-08-08 19:45] Aiyubi commented on #161
okay did some more investigation: if I rename 29 to Nidoran(w) and 32 to Nidoran(m) it works fine. (for english)

[2016-08-08 19:45] skiniemini commented on #166
I already re-ran `db.Base.metadata.create_all(db.get_engine())`. That didn't work properly the first time so I setup a new database and ran the command again to create the tables. It created everything properly but I'm still getting that same error.

[2016-08-08 19:46] subzerofun commented on #110
@puddingbrood – thanks for your integration of Pushbullet!
however i can´t get the code to send a message when a pokemon is found.
pokeminer  - worker.py and web.py - are running without errors, the api key is also correct - i tested that by simply adding

`push = pb.push_note("This is a test", "This really is a test")`

right after

`pb = Pushbullet(config.PUSHBULLET_KEY)`

and immediately got a

[2016-08-08 20:03] paul30001 commented on #151
@Aiyubi Thank you!
In that case what is the Scan Radius for? What exactly is the radius OF? A worker's whole area or is it only the radius of one of the small hexagons that appear on the map when you "show workers?"

Why is every cycle so much faster in the cmd window when Scan Radius values are high, and it's so much slower when the value is low. It seems counter intuitive.

[2016-08-08 20:46] freakjam commented on #165
@vDrag0n try this little guide https://github.com/modrzew/pokeminer/issues/52#issuecomment-235907854

[2016-08-08 20:47] Aiyubi commented on #151
@paul30001 it is how big the small circles(hexagons) are and it is a server setting. If you edit the range to be anything other then 70 it will not work right cause the space between scan gets calculated wrong.

[2016-08-08 20:56] paul30001 commented on #152
@Aiyubi Thank you!
Last question:
Is it possible to view the spawn time on the hour of a certain Pokemon?
I know I can run a report for a single Pokemon, but if there have been, let's say 5 Charizards in my town overnight, I want to know the exact minute of the hour when they spawn and also how many hours are between spawns, if there's any correlation.

Point is, how can I view the actual spawn TI

[2016-08-08 21:02] khag7 commented on #161
i feel silly for not thinking of that. i was looking in the template for non ascii characters and couldnt figure it out. DUH its the m and f symbols. good catch!

[2016-08-08 21:16] theresthatguy opened #167 "TimeoutError: QueuePool limit"
After upgrading to v0.5 with #162
[Pastebin copy](http://pastebin.com/s57ddDU3)
`Traceback (most recent call last):
  File "worker.py", line 135, in run
    self.main()
  File "worker.py", line 214, in main
    db.add_sighting(session, raw_pokemon)
  File "/hdd/Pokemon/pokeminer-ph3/db.py", line 188, in add_sighting
    .filter(Sighting.lon == pokemon['lon']) \
  File "/usr/local/lib/python2.7/dis

[2016-08-08 21:21] Aiyubi commented on #167
this is a very old issue and Im getting tons of those myself
the problem is the other exceptions that you are not showing ;)

#77 was when I tried to fix this. Will need to test tomorrow

[2016-08-08 21:24] theresthatguy commented on #167
I did not see any other errors in my log file.

[2016-08-08 21:33] khag7 opened #168 "implement efficiency improvements similar to work done by TBTerra or Tr4sHCr4fT"
So if I run a scan on an area for one hour, I now have a database of every single spawn location in that area and I know what time the next spawn will occur (since this happens precisely every hour).

Why doesn't this scanner use previously collected spawn data to scan future spawn points? This project seems to have done something like that, but I don't know that its still working, it seems to be

[2016-08-08 21:48] skiniemini opened #169 "Sequence index must be integer"
Keep getting this errors:

[code]

Any quick fix for this?

[2016-08-08 22:36] josepotud opened #170 "ctypes _dlopen error"
I've updated the pokeminer with the new api and I'm getting this error and I can't find a solution. Any idea?

`[2016-08-08 01:42:09,625][  worker-0][    INFO][L 285] Adding 'DOWNLOAD_SETTINGS' to RPC request including arguments`
`[2016-08-08 01:42:09,640][  worker-0][   ERROR][L 119] A wild exception appeared!`
`Traceback (most recent call last):`
`  File "worker.py", line 101, in run`
`   passwo

[2016-08-08 23:11] skiniemini commented on #170
Check hints at [#135](https://github.com/modrzew/pokeminer/pull/135)

[2016-08-08 23:34] DavidSelem opened #171 "Getting name with new update"
Any idea how can I obtain names with the newest update ?

This is the code that obtain names:
[code]
I attached the complete file if someone wants it
[notifyme.zip](https://github.com/modrzew/pokeminer/files/407933/notifyme.zip)

[2016-08-09 00:45] kravock commented on #166
Lat and lon columns need to be size of 17 to accommodate for negative values

[2016-08-09 01:01] kravock opened #172 "MySQL issue with recent update"
Keep getting the following error with the most recent update. I am using MySQL for the database, and have created the new tables and run the migration

https://gist.github.com/kravock/6e91e6d3e35d94f2d9e41b4252b9a204

[2016-08-09 01:24] pokemonracer commented on #167
Fixed this by switching from sqlite to mysql and added this to my .ini file:
innodb_buffer_pool_size=1G

[2016-08-09 01:27] pokemonracer commented on #163
[pgoapi/pull/59](https://github.com/keyphact/pgoapi/pull/59)

[2016-08-09 01:30] c00ni commented on #168
Is this a rock solid means of ensuring rare spawns are detected reliably?

[2016-08-09 01:48] nhumber commented on #153
found it?

[2016-08-09 01:52] nhumber commented on #154
Version 0.5.0 is working as it should, again: Thank you for your hard work.

[2016-08-09 01:56] plague180 commented on #161
yep, subzerofun's solution worked for me

[2016-08-09 02:13] theresthatguy commented on #167
What .ini file are you referring to? I am not using mysql but mariadb.

[2016-08-09 02:23] YonderGod opened #173 "Is google maps key no longer needed?"
so we no longer need
`GOOGLE_MAPS_KEY = 's3cr3t'`
in config, right?

[2016-08-09 02:34] kravock commented on #173
Nah, doesn't use Google Maps anymore.

[2016-08-09 02:39] theresthatguy opened #174 "UnicodeDecodeError"
`./web.sh
 * Running on http://127.0.0.1:8000/ (Press CTRL+C to quit)
 * Restarting with stat
 * Debugger is active!
 * Debugger pin code: 208-815-793
/usr/local/lib/python2.7/dist-packages/sqlalchemy/sql/default_comparator.py:153: SAWarning: The IN-predicate on "sightings.pokemon_id" was invoked with an empty sequence. This results in a contradiction, which nonetheless can be expensive to evaluat

[2016-08-09 02:50] jyh947 commented on #153
I'm on the same boat as photex12.  Any help?

[2016-08-09 02:56] nhumber commented on #174
same issue here, all is running good just web.py isnt working, i had it working on my windows PC but when i migrated over to a linux box i get this error also.

[2016-08-09 03:17] grenadesonfire commented on #174
I found the error to be in this line:
<a href="/report/{{ icon[0] }}"><img src="../static/larger-icons/{{ icon[0] }}.png" title="#{{ icon[0] }} {{ icon[1] }}"></a>

This controls the icons appearing for the top 30 line in the report. Not sure why this is happening other than there might be a utf-8 character in here and python threw a fit.

[2016-08-09 03:18] grenadesonfire commented on #173
I think the heatmaps are still using google maps. I get an error when I try to run them and when I pop open the web dev console I get this 'Google Maps API error: InvalidKeyMapError https://developers.google.com/maps/documentation/javascript/error-messages#invalid-key-map-error '

[2016-08-09 03:33] DavidSelem commented on #173
Google maps is used by the report feature

[2016-08-09 03:37] nhumber commented on #174
thanks,
grenadesonfire temp fix works perfectly.

[2016-08-09 03:55] c00ni opened #176 "Exceptions a-plenty, early points get scanned repeatedly, late ones sometimes miss out"
There are several exceptions being thrown, mainly from the pgoapi, some from other sources.
Plenty has changed and there are sure to be teething issues. That's fine.

But when a worker restarts following an exception, it starts from the beginning of it's point list and it seems almost up to chance that a point near the end of it's points will ever get scanned in any given 15minute period due to th

[2016-08-09 03:56] YonderGod commented on #173
Ohhh, I see.

[2016-08-09 03:56] #173 closed

[2016-08-09 04:18] kravock commented on #172
Fixed in PR #175

[2016-08-09 04:53] Innenseide commented on #152
I don't think there's a correlation. I think we know that most spawns have a given minute every hour when they spawn a Pokemon for 15 minutes. They seem to have a set table of possible Pokemon which might be influenced by its surroundings (water etc.), and sometimes a special, rare Pokemon will appear.

[2016-08-09 05:11] khag7 commented on #168
Not sure yet. I am under the impression that spawn points exist on the map and are the only place that pokemon spawn (except for lured stops and incense). Once every hour, at a precise time, that spawn point generates a pokemon for 15 minutes. Is there any evidence that rare pokemon are appearing at spawn points that don't follow this? By checking the spawnid column in the database you can check t

[2016-08-09 05:29] photex12 commented on #153
Yes I found it! Thanks.

[2016-08-09 05:31] photex12 commented on #156
@Kieken72 THANK!!
After setting thing up I end up with the next error :(

LOG:
ConnectionError: HTTPSConnectionPool(host='android.clients.google.com', port=443): Max retries exceeded with url: /auth (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x099B6630>: Failed to establish a new connection: [Errno 10060] A connection attempt failed becau

[2016-08-09 06:31] Aiyubi commented on #171
check the web.py for all ocurences of POKEMON_NAMES and you will understand how it can be done

[2016-08-09 06:36] Aiyubi commented on #174
duplicate of #161

[2016-08-09 07:51] vDrag0n opened #179 "gyms aren't updated."
Is this behavior expected?  I don't see anywhere in the code where gyms are updated.

[2016-08-09 07:55] Kieken72 commented on #179
There was an issue with the api, while getting the map_objects. [PGOAPI#47](https://github.com/keyphact/pgoapi/issues/47)

[2016-08-09 08:27] metawurx commented on #171
If you don't feel like changing code you could just grab the locales folder from a previous release (it was removed in 0.5) and place it in your pokeminer directory. Names should work fine with the notify script then.

[2016-08-09 08:29] Innenseide commented on #168
I don't think there is. For my city of 40k, every rare Pokemon I ever looked at spawned at a regular spawn point at the regular minute. I think it's all but certain that every spawn point has a certain spawn table with an additional chance of spawning a "foreign" or "rare" Pokemon, but the minute of the hour remains the same.

Your argumentation makes a lot of sense and I think this should definit

[2016-08-09 09:10] c00ni commented on #176
A stack (almost all) of the errors were database errors. I moved to MySQL, increased the pool size and stopped logging forts and they have all gone away.

I've got one worker stuck, seemingly at one particular cell. It happens every few minutes and the worker is forced to restart. It's the only recurrent error in my log now.

[2016-08-09 19:04:18,250][ worker-32][   ERROR][L 138] A wild exception

[2016-08-09 09:29] Aiyubi commented on #167
I just uploaded a PR #180 and need someone with the problem to test if this fixes it

[2016-08-09 09:49] Aiyubi commented on #176
run `pip install -r requirements.txt -- upgrade`

[2016-08-09 10:16] Aiyubi commented on #172
could it be that gyms.py now adds all different sightings of gyms together?

[2016-08-09 10:25] Aiyubi commented on #179
if you are talking about gyms.py - yes it is intended to not autoupdate

[2016-08-09 11:01] #152 closed

[2016-08-09 11:04] paul30001 opened #182 "Can't view the /report!"
Running the 0.5.0 version, and I can see the active Pokemon on the map, but cannot run the report! :(
Here's what I get, How do I fix it? It's saying something about the Google Maps Key, but I though we're using LeafLet now, right?
![11](https://cloud.githubusercontent.com/assets/20823132/17514239/55ee504e-5de6-11e6-840b-739cf003b486.png)

[2016-08-09 11:06] paul30001 commented on #182
Now it won't even show the live Pokemon on the map :( but let's address the 1st issue 1st, please haha

[2016-08-09 11:06] NCDKorrigan commented on #172
SQL statement needs to be changed or ONLY_FULL_GROUP_BY (on your mysql server) disabled: http://stackoverflow.com/questions/23921117/disable-only-full-group-by

[2016-08-09 11:23] Aiyubi commented on #182
just read the last line - you do not have a google api key set. Check your config

[2016-08-09 11:28] modrzew commented on #16
Gym locations are stored as of v0.5.0.

[2016-08-09 11:28] #16 closed

[2016-08-09 11:30] paul30001 commented on #182
@Aiyubi, added the API to the config, not I'm getting this when trying to run a report
![screensho11t](https://cloud.githubusercontent.com/assets/20823132/17514876/f9eee4bc-5de9-11e6-8705-2cf7677cabba.png)

[2016-08-09 11:33] Aiyubi commented on #182
you should really start looking on other issues which have the same error message #161

[2016-08-09 11:45] paul30001 commented on #182
@Aiyubi  Sorry :), that helped, BUT I still can't view live Pokemon for some reason though, the LeafLet map loads but doesn't have any Pokemon on it,
I was showing some in the beginning, but not anymore :(
What could be the problem?

[2016-08-09 11:47] #151 closed

[2016-08-09 12:04] amistad18 commented on #152
@paul30001 Take a look at this - https://github.com/Cy4n1d3/PokeminerSpawns

[2016-08-09 12:21] modrzew commented on #161
By the way, this problem (as well as whole unicode hell) is nonexistent in Python 3 - I tested @Noctem's fix using py3 and it worked for me (that's why I didn't catch it). If you haven't upgraded yet, now is the time!

[2016-08-09 12:24] Innenseide commented on #182
@paul30001 I'd bet there's some error message on the terminal that is running web.py. Look there, **think about it**, look through previous issues, try to fix it yourself, and if all that won't yield any success (it should), then ask further questions. Please.

[2016-08-09 13:43] modrzew commented on #182
The unicode error should be fixed as of c3fd59dc64f94 (in master).

[2016-08-09 13:44] modrzew commented on #174
It should be fixed as of c3fd59dc64f94 (in master).

[2016-08-09 13:44] #174 closed

[2016-08-09 13:44] modrzew commented on #161
It should be fixed as of c3fd59dc64f94 (in master) for those who *still* use Python 2.7. I seriously advise to upgrade to Python 3, pokeminer works flawlessly on it.

[2016-08-09 13:44] #161 closed

[2016-08-09 13:47] Axi0m-S commented on #86
Same problem here. Using 100~ workers. It only happens after some time. I think maybe some sessions are not well closed. (Maybe it misses timeout somewhere)

[2016-08-09 13:52] Kieken72 commented on #179
@Aiyubi I think he means that after X amount of time the Gyms change from team to team on the map. Or in the report using more recent data but my map has been running 10 hours and the gym's are added to the db, one sighting is added after that Gym's are not touched. Which means the data is oudated.
`Generated 0 minutes ago using data from 1054 minutes ago gathered by pokeminer`

[2016-08-09 13:54] Innenseide commented on #161
@modrzew You should probably post that advice to the README. Most projects around Pokemon Go seem to be designed for Python 2.7 and wherever I looked, one of the favorite FAQ items was "use 2.7!" Personally, I've been so used to that, I just went with 2.7 for Pokeminer without thinking about it.

[2016-08-09 15:06] nern9 commented on #169
I keep getting the same on 2 new accounts. Running on latest forts branch

[2016-08-09 15:11] nern9 commented on #169
i found this error message when i scrolled up a bit above the error: `ERROR][L  88] Could not retrieve token: As a security measure, your account has been disabled for 15 minutes because you have failed to log in correctly too many times. Please come back and try again in 15 minutes.`

go and see if you are having problem loging in with the accounts you are using. if this is so, make sure you have

[2016-08-09 15:35] skiniemini commented on #169
I turned on debug logging and have been going through the log. Looks like they might be related to an account login/activation issue. I've been going through and figuring out what accounts are having issues so I can fix them. Once I have all the accounts sorted out, I'll see if it still gives the save error.

[2016-08-09 16:27] skiniemini commented on #169
**Update:** After correcting the issues with the problem accounts (activation, valid accounts, etc), the error does not show up anymore.

[2016-08-09 16:36] #169 closed

[2016-08-09 16:36] #166 closed

[2016-08-09 19:11] #79 closed

[2016-08-09 19:12] #80 closed

[2016-08-09 19:13] modrzew commented on #46
So this has been done for long, long time now. I suck at managing Github issues.

[2016-08-09 19:13] #46 closed

[2016-08-09 19:15] modrzew commented on #28
Fixed in 6000ddbd.

[2016-08-09 19:15] #28 closed

[2016-08-09 19:15] modrzew commented on #39
I assume that this hasn't been occuring for a while.

[2016-08-09 19:15] #39 closed

[2016-08-09 19:17] modrzew commented on #44
I'm in the middle of writing a better solution for database handling - no longer will each worker talk to database, but do it via different entity instead, capable of working on database more efficiently. Thus, closing.

[2016-08-09 19:17] #44 closed

[2016-08-09 19:25] #81 closed

[2016-08-09 19:25] #69 closed

[2016-08-09 19:27] #83 closed

[2016-08-09 19:28] #84 closed

[2016-08-09 19:29] dhernandez98 commented on #179
Same here. Gyms don't update.

[2016-08-09 19:31] modrzew commented on #87
Moving the discussion to #162, then.

[2016-08-09 19:31] #87 closed

[2016-08-09 19:35] modrzew commented on #86
Could this be solved by https://github.com/keyphact/pgoapi/commit/e4895940c4b4571dc09136ef8dc3d4708f4be9fc?

[2016-08-09 19:45] YonderGod opened #186 "[suggestion] Different leaflet Basemap provider"
My issue with the current (I assume default) map on leaflet is that it doesn't highlight all of the major streets, making it hard to quickly see approximately where a pokemon is or quickly find my current location.

Is it just me, or do others have the same problem?

http://leafletjs.com/plugins.html#basemap-providers

Preview here: http://leaflet-extras.github.io/leaflet-providers/preview/

I sug

[2016-08-09 19:45] theresthatguy commented on #168
Looks like others are attempting/reaching [similar ideas ](https://github.com/TBTerra/spawnTracker)

[2016-08-09 19:52] theresthatguy commented on #186
World Street Map looks nice.

[2016-08-09 19:57] modrzew commented on #161
@Innenseide good idea, thanks!

[2016-08-09 20:01] modrzew commented on #14
Reports use `/heatmap` endpoint. Other than that I think it should work.

[2016-08-09 20:01] modrzew commented on #173
Reports will be moved to Leaflet too. It has a few plugins for heatmaps, too.

[2016-08-09 20:03] modrzew commented on #93
That error is most likely because your STAGE2 list is empty. It should be gone after you fill it up.

[2016-08-09 20:03] #93 closed

[2016-08-09 20:04] khag7 commented on #168
Yeah that's the link i posted in the first comment here

[2016-08-09 20:04] khag7 commented on #168
Also https://www.reddit.com/r/pokemongodev/comments/4wxteh/i_implemented_tbterras_spawntracker_into/

[2016-08-09 20:05] modrzew commented on #93
Aaaaand it should be fixed as of 55e30dd706cb64c8fd53abca7da8f2df7fbaa7fc.

[2016-08-09 20:06] modrzew commented on #98
Accidentally done while rewriting live map to Leaflet in v0.5.0.

[2016-08-09 20:06] #98 closed

[2016-08-09 20:09] snicker commented on #168
Came here to post this. I am scanning a huge area and could really appreciate the optimization.

[2016-08-09 20:10] snicker commented on #168
I'd recommend changing the title of the issue to be something a little more constructive, IE 'implement tbTerra's spawnTracker into pokeminer'

[2016-08-09 20:13] modrzew commented on #101
And I thought 800 workers someone reported a few weeks ago was overkill.

All of you may be interested in what I've been doing in `coroutines` branch. I'm testing it locally right now, but from what I see it has reduced CPU usage due to lower number of threads, lower number of database connections, and various stability fixes.

[2016-08-09 20:26] modrzew commented on #106
There are already some ifs for SQLite in place ([like this](https://github.com/modrzew/pokeminer/blob/master/db.py#L302), you can extend it in the same way I think.

[2016-08-09 20:29] modrzew commented on #109
Can you try using virtualenv? I highly advise to use it (and virtualenvwrapper, and pyenv) when interacting with any Python project.

[2016-08-09 20:44] #113 closed

[2016-08-09 20:45] modrzew commented on #114
I think that 30s timeout from the most recent pgoapi will help with this issue. Also I've been adding fixes here and there in `coroutines` that should further improve the stability.

By the way, :+1: for charts!

[2016-08-09 20:47] modrzew commented on #112
Moving discussion to #118.

[2016-08-09 20:47] #112 closed

[2016-08-09 20:49] modrzew commented on #116
@GaelicGamer did you try the new map powered by Leaflet? I found it to be way, way faster when it comes to drawing circles. It doesn't freeze my browser *that much*.

[2016-08-09 20:50] modrzew commented on #124
[Added](https://github.com/modrzew/pokeminer#how-many-workers-do-i-need) in v0.5.0 IIRC. Thanks @Aiyubi!

[2016-08-09 20:50] #124 closed

[2016-08-09 20:51] modrzew commented on #126
Strange, I've been running 200 workers without similiar issues. How much free RAM do you have? What's the CPU usage?

[2016-08-09 20:51] #136 closed

[2016-08-09 20:53] #142 closed

[2016-08-09 20:55] modrzew commented on #137
@Vashiru are you still not getting anything from the API? Did you investigate it further?

[2016-08-09 20:56] GaelicGamer commented on #116
No I need to pull it down tonight, but from previous experience I suspect that your right and it will have resolved most of this issue.

[2016-08-09 20:56] c00ni commented on #168
Going back to my original concern, will, for example, a Snorlax spawn where a normal Zubat spawn is at the same time a Zubat was meant to spawn?

[2016-08-09 20:58] modrzew commented on #143
@wgronewold did you try compatibility mode? Moreover you can try compiling your own library on your Ubuntu machine - if it compiles, it's almost guaranteed to be working.

[2016-08-09 20:59] #153 closed

[2016-08-09 21:00] modrzew commented on #155
Combining this with #183 gives me an idea for allowing to overwrite config values from command line. I think I'll take care of it in my spare time.

[2016-08-09 21:01] modrzew commented on #159
Are you using Python 2.7?

[2016-08-09 21:03] modrzew commented on #156
It's something related to your OS and not pokeminer.

[2016-08-09 21:03] #156 closed

[2016-08-09 21:03] Aiyubi commented on #159
@modrzew got the same - you are deviding int by int in the calculation - python 2.7 gives int as result (0) which you multiply by 100

[2016-08-09 21:04] #160 closed

[2016-08-09 21:05] modrzew commented on #163
pgoapi has been updated to keyphact/pgoapi@39ea20d31b770dd7bc83180d60283e171090e16d today in master's requirements.

[2016-08-09 21:05] #163 closed

[2016-08-09 21:06] #165 closed

[2016-08-09 21:06] modrzew commented on #167
#180 merged, closing.

[2016-08-09 21:06] #167 closed

[2016-08-09 21:14] #170 closed

[2016-08-09 21:15] modrzew commented on #172
Moving discussion to #175.

[2016-08-09 21:15] #172 closed

[2016-08-09 21:17] modrzew commented on #176
I implemented restarting worker from its last point in `coroutines` branch. I have a feeling that it will be merged to master soon.

[2016-08-09 21:17] #182 closed

[2016-08-09 21:20] modrzew commented on #186
I used the default one because it doesn't require any API key, and I didn't find the demo page you posted at the time. And it's been working fine for me (though it's ugly).

Let me look at them when I have a minute. In the meantime, you can switch the URL in [newmap.html](https://github.com/modrzew/pokeminer/blob/master/templates/newmap.html#L220).

[2016-08-09 21:28] #116 closed

[2016-08-09 21:44] hitagisenjogahara commented on #168
It's not the truth for all spawns. Tracking whole Dublin for about 200+ hours and Snorlax never appeared twice in the same spot, same applies to Lapras. There are places tho, where NOTHING spawns ever, and those should be skipped. Also, central DB is ULTRA BAD idea, easy to take down. As long as it is decentralized it will live. The very moment all spawns will be dragged in one place, its certain

[2016-08-09 21:52] hitagisenjogahara opened #187 "[report] UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 7: ordinal not in range(128)"
When trying to generate /report have that message. Never appeared before .5 release. So far I managed to sort out all issues but this one has something to do with unicode and I have no clue how to bite it.

[2016-08-09 22:04] snicker commented on #168
Not sure what you mean by the comment regarding centralized vs. distributed databases. I don't think that really applies to this issue.

As I understand it, the majority of the optimization happens by tracking
1) which "cells" do not have any spawn points in them
2) only scanning cells with spawn points a minute after their designated spawn time

I think that both of those criteria can be reliably

[2016-08-09 22:08] paul30001 opened #188 "Nightmare installing pip for Python 3"

[2016-08-09 22:08] #188 closed

[2016-08-09 22:14] hitagisenjogahara commented on #168
I'll try to explain. I'm not a programmer tho. Well I'am but my area are
PLC and microcontrollers. Snorlax spawned 19 times within approx 200+
hours, now propably 220 hours. He has few totally unique spots where I
didn't notice any other spawn than him (also there is Scyther spot near
graveyard where nothing but him spawns) . So 1 hour scan could easily skip
that spot (20 spawns / 200hours = 1/10h

[2016-08-09 22:17] Noctem commented on #161
Hmm, I thought I had tested with Python 2 without issues (which surprised me). But I completely second @modrzew's endorsement of Python 3.

[2016-08-09 22:22] paul30001 opened #189 "Nightmare installing pip for Python 3"
Someone please be a good Samaritan here :0

So I saw @modrzew comment on one of the issues here saying that Pokeminer runs much smoother on Python 3.
So 1st: Which Python? 3.0.0? 3.0.1? or like 50 other releases after 3?
I've uninstalled 2.7, and tried installing 3.0.0 AND 3.0.1 and followed gprez's guide on the installation.
https://pip.pypa.io/en/stable/installing/ says that I simply need to upg

[2016-08-09 22:25] Aiyubi opened #190 "[suggestion] different base layer for heatmaps"
first: I am colorblind
Seeing the heatmaps there are a lot of the same colors (city) - yellow to red for heat and orange(?) for streets and such. All bright colors.

I coded myself so my local version uses satellite basemap as a quick fix. But for a wishlist I would like a darker basemap that can be chosen via config

Possible very dark map layer:
https://carto.com/location-data-services/basemaps/

[2016-08-09 22:44] skiniemini commented on #187
Already been duplicate issues [dup #182](https://github.com/modrzew/pokeminer/issues/182) [orig #161](https://github.com/modrzew/pokeminer/issues/161)

[2016-08-09 22:46] snicker commented on #168
I don't think anyone is suggesting a centralized database, and this doesn't seem to be the place to have that discussion.

Do you think you could share your data to verify? Pokemon spawns do have a unique "spawnpoint_id" associated with them, and we could verify what you're saying is true (snorlax/scyther spawn somewhere that no other pokemon spawn)

[2016-08-09 22:46] hitagisenjogahara commented on #187
Cheers, been checking for similar issue but might be the time of the day to late. Sry for hassle.

[2016-08-09 23:03] pokemonracer commented on #189
First of all. Extract all those files from the zip-file to a folder. Then open cmd in that folder (shift + right click, "Open command window here") where you extracted the files and type python get-pip.py.

You can use the latest Python 3 version.

Protip: take screenshots, no need for pics taken by phone.

[2016-08-09 23:08] snicker commented on #168
Actually, I just checked your theory against my own dataset (~679,000 sightings over the past week) and we can consider it debunked.

I have 31 sightings of Snorlax logged.
Each sighting was at a different `spawn_id` (suggesting that they do spawn randomly)
Each `spawn_id` associated with a Snorlax spawn had > 1 other sightings at that `spawn_id`

The final point there proves that Snorlax does not

[2016-08-09 23:35] nhumber commented on #154
seems i've spoke too soon, gyms seemed to stay updated when i did a fresh install of 0.5.0, fast forward to today and im getting no gym updates again.
i saw another issue pertaining to this today, ill do some reading in the comments see if i can get it working

[2016-08-09 23:41] hitagisenjogahara commented on #168
checked it, and I admit you are right, my scyther (123) shares his lon/lat with 2 other spawns but so rarely that I simply missed them (124) and (7).

[2016-08-10 00:42] paul30001 commented on #189
I have done that many times. I'm not sure what you mean by zip: python zip or pokeminer zip?
But just in case, I did both, here you go, Python 3.0.0 and pokeminer, here are the errors, same thing :(
![screenshot 30](https://cloud.githubusercontent.com/assets/20823132/17538247/9366152a-5e58-11e6-88fe-607f1eb09146.png)
![screenshot 29](https://cloud.githubusercontent.com/assets/20823132/17538248/936

[2016-08-10 01:16] paul30001 commented on #189
Okay, I actually managed to install the latest python version properly and update pip to 3.1.2 or something like that, now when I run the pip install -r requirements.txt in the pokeminer folder it gives me this! Something wrong with permissions! What do I do?
![screenshot 31](https://cloud.githubusercontent.com/assets/20823132/17538777/58af1404-5e5d-11e6-80b8-f1432524f68f.png)

[2016-08-10 01:19] kravock commented on #179
Mine seem to be updating fine, using MySQL for database.

[2016-08-10 01:31] paul30001 commented on #189
Installed last version of python and pip, and here's what I get when installing requirements for pokeminer.
Please someone explain :'(
I'm so confused, could this have something to do with admin rights? I made myself admin already!
![screenshot 32](https://cloud.githubusercontent.com/assets/20823132/17539019/759cba2e-5e5f-11e6-828d-5c70aebf50f2.png)

[2016-08-10 01:36] Aiyubi commented on #189
you do not like googling?
http://www.pandastack.com/unable-to-find-vcvarsall-bat-how-to-fix-on-windows/

[2016-08-10 01:55] paul30001 commented on #189
@Aiyubi Sorry haha
I did Google it, found similar issues, and yeah I installed the C++ Compiler 14 already, there were a couple more errors, but I figured it out.

I'm just really new to Python, that's why I keep creating new issues here.
Anyway, hard work and BSing my way through it payed off! haha
I just don't know how the Pokeminer runs smoother on Python 3 than on 2.7, maybe all this was for n

[2016-08-10 02:19] #189 closed

[2016-08-10 03:17] batttie commented on #179
Reporting the same issues using sqllite

[2016-08-10 04:39] paul30001 opened #191 "Index error, and Pokemon not showing."
So after hours of messing around I managed to get the new Pokeminer running properly with the latest Python, I saw some Pokemon on the live map a few hours ago, but then it stopped showing anything.

Workers seems to be fine, but the map is empty and when trying to run the report, I get this. And I JUST got the new API for the config.
Help pls! haha
![error](https://cloud.githubusercontent.com/ass

[2016-08-10 04:40] YonderGod commented on #190
Are reports still using google maps? If they're still google, they will be leaflet soon, which has lots of different options.
#186
I suggested changing the main map too.

[2016-08-10 05:44] AyalaJuan opened #192 "SQLAlchemy compatability"
Was receiving pool_size errors when trying to import db using the python instructions (Linux).

Encountered the following error:

`>>> import db
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "db.py", line 156, in <module>
    Session = sessionmaker(bind=get_engine())
  File "db.py", line 27, in get_engine
    return create_engine(DB_ENGINE,pool_size=61)
  File "/u